Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

enable gradle cache configuration
  .github/workflows/build-staging-android.yml
  android/gradle.properties
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

add missing comma
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

add comment
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

refactor: Make animated header a part of scroll content (poc)
  ios/Podfile.lock
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: move NearbyStopPlacesScreen back button
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove "Favorite" departures mode
  src/components/estimated-call/EstimatedCallInfo.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/types.ts
  src/screen-components/place-screen/PlaceScreenComponent.tsx
  src/screen-components/place-screen/components/EstimatedCallItem.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/place-screen/components/QuaySection.tsx
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavouriteDepartureScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/TabNav_DeparturesStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: create SelectFavouriteDeparturesScreen
  src/screen-components/favorite-departures/SelectFavoriteDeparturesScreenComponent.tsx
  src/screen-components/favorite-departures/components/FavoriteLineItem.tsx
  src/screen-components/favorite-departures/components/FavoriteLineList.tsx
  src/screen-components/favorite-departures/index.tsx
  src/screen-components/place-screen/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavouriteDepartureScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/TabNav_DashboardStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SelectFavouriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/TabNav_ProfileStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: make FavoriteLineItem a section item
  src/screen-components/favorite-departures/components/FavoriteLineItem.tsx
  src/screen-components/favorite-departures/components/FavoriteLineList.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix to enable gradle config-cache
  android/app/build.gradle
  android/app/src/main/jni/CMakeLists.txt
  patches/react-native-reanimated+4.2.1.patch
  patches/react-native-vision-camera+4.7.2.patch
  patches/react-native-worklets+0.7.1.patch
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: navigate to root screen if there are no favorites
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/TabNav_DashboardStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: auto-complete favorites flow when adding a favorite
  src/screen-components/favorite-departures/SelectFavoriteDeparturesScreenComponent.tsx
  src/screen-components/favorite-departures/components/FavoriteLineList.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SelectFavouriteDeparturesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add --active-arch-only for local builds
  scripts/android/run-android.sh
Owners: @rosvik, @reidzeibel

chore: set staging build to only target arm64-v8a, the most common architecture for Android phone.
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

chore: add ccache for caching cmake builds
  .github/workflows/build-staging-android.yml
  .github/workflows/check-ccache-stats.yml
Owners: @rosvik, @reidzeibel

Revert "fix to enable gradle config-cache"
  android/app/build.gradle
  android/app/src/main/jni/CMakeLists.txt
  patches/react-native-reanimated+4.2.1.patch
  patches/react-native-vision-camera+4.7.2.patch
  patches/react-native-worklets+0.7.1.patch
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

Revert "add comment"
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

Revert "add missing comma"
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

Revert "enable gradle cache configuration"
  .github/workflows/build-staging-android.yml
  android/gradle.properties
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

chore: split android build staging to AtB & OMS
  .github/actions/android-post-build-steps/actions.yml
  .github/actions/android-pre-build-steps/actions.yml
  .github/workflows/build-staging-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: move checkout to main workflow
  .github/actions/android-pre-build-steps/actions.yml
  .github/workflows/build-staging-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

update name
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

use double quotes
  .github/actions/android-post-build-steps/actions.yml
  .github/actions/android-pre-build-steps/actions.yml
Owners: @marius-at-atb, @rosvik, @strandlie

rename
  .github/actions/android-post-build-steps/action.yml
  .github/actions/android-pre-build-steps/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

only build arm64-v8a ABI
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

add missing shell
  .github/actions/android-post-build-steps/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

use boolean instead of string
  src/utils/transportation-names.ts
Owners: @marius-at-atb, @rosvik, @strandlie

add permission block
  .github/workflows/build-staging-android.yml
  .github/workflows/check-ccache-stats.yml
Owners: @rosvik, @reidzeibel

add cmake install step
  .github/actions/android-pre-build-steps/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

stringer type check
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/screen-components/purchase-history/PurchaseHistoryScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: navigate support form fare contract (#5740)
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/utils.ts
  src/modules/map/index.ts
  src/screen-components/purchase-history/PurchaseHistoryScreenComponent.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added backwards comp for showing header name in farecontract history
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

try installing cmake before build
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

fix issue
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove install sdkmanager on prebuild script
  .github/actions/android-pre-build-steps/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

removed close button for infosheet
  src/modules/situations/SituationBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add backdrop to colorize contrasting headers with pull to refresh
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/screen-view/FullScreenView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove stale caches on native build
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

feat: removed close button for infosheet (#5745)
  src/modules/situations/SituationBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added backwards comp for showing header name in farecontract history (#5744)
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

add ccache environment
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
