Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: rename onboardingEnrollment to onboardingCarousel and use for extended onboarding
  src/modules/bonus/index.ts
  src/modules/bonus/onboarding/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/bonus/onboarding/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/onboarding/BonusOnboarding_WelcomeScreen.tsx
  src/modules/bonus/onboarding/config.ts
  src/modules/bonus/onboarding/index.ts
  src/modules/enrollment-onboarding/enrollment-onboarding-config.ts
  src/modules/enrollment-onboarding/index.ts
  src/modules/enrollment-onboarding/navigation-types.ts
  src/modules/enrollment-onboarding/types.ts
  src/modules/extended-onboarding/ExtendedOnboarding_AlsoGoodToKnowScreen.tsx
  src/modules/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
  src/modules/extended-onboarding/config.ts
  src/modules/extended-onboarding/index.ts
  src/modules/onboarding-carousel/index.ts
  src/modules/onboarding-carousel/navigation-types.ts
  src/modules/onboarding-carousel/onboarding-carousel-config.ts
  src/modules/onboarding-carousel/types.ts
  src/modules/onboarding-carousel/use-navigate-to-next-onboarding-screen.ts
  src/modules/onboarding/onboarding-config.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AddScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
  src/modules/smart-park-and-ride/onboarding/index.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_EntrollmentOnboradingStack/index.ts
  src/stacks-hierarchy/Root_EntrollmentOnboradingStack/navigation-types.ts
  src/stacks-hierarchy/Root_ExtendedOnboardingStack/Root_ExtendedOnboardingStack.tsx
  src/stacks-hierarchy/Root_ExtendedOnboardingStack/index.ts
  src/stacks-hierarchy/Root_ExtendedOnboardingStack/navigation-types.ts
  src/stacks-hierarchy/Root_OnboardingCarouselStack/Root_OnboardingCarouselStack.tsx
  src/stacks-hierarchy/Root_OnboardingCarouselStack/index.ts
  src/stacks-hierarchy/Root_OnboardingCarouselStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: spar onboarding exports
  src/modules/smart-park-and-ride/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use onboardingScreenComponent in extended onboarding screens
  src/modules/extended-onboarding/ExtendedOnboarding_AlsoGoodToKnowScreen.tsx
  src/modules/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: upgrade kettle to v1.4.0
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: move extended-onboarding and onboarding-carousel inside onboarding
  src/modules/bonus/onboarding/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/bonus/onboarding/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/onboarding/BonusOnboarding_WelcomeScreen.tsx
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_AlsoGoodToKnowScreen.tsx
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
  src/modules/onboarding/extended-onboarding/config.ts
  src/modules/onboarding/extended-onboarding/index.ts
  src/modules/onboarding/index.ts
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/navigation-types.ts
  src/modules/onboarding/onboarding-carousel/onboarding-carousel-config.ts
  src/modules/onboarding/onboarding-carousel/types.ts
  src/modules/onboarding/onboarding-carousel/use-navigate-to-next-onboarding-screen.ts
  src/modules/onboarding/onboarding-config.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

refactor: move remaining files from src to src/modules
  .eslintrc.js
  src/index.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/local-config/index.ts
  src/modules/local-config/local-config.ts
  src/modules/recent-fare-contracts/RecentFareContract.tsx
  src/modules/recent-fare-contracts/index.ts
  src/modules/recent-fare-contracts/types.ts
  src/modules/recent-fare-contracts/use-recent-fare-contracts.ts
  src/modules/setup/index.ts
  src/modules/setup/setup.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
  src/utils/use-local-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: imports
  src/modules/bonus/onboarding/config.ts
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/onboarding-carousel-config.ts
  src/modules/onboarding/onboarding-carousel/types.ts
  src/stacks-hierarchy/Root_OnboardingCarouselStack/Root_OnboardingCarouselStack.tsx
  src/stacks-hierarchy/Root_OnboardingCarouselStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: make illustration larger
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: rename from enrollment to onboarding + move enrollment onboarding logic to enrollment file
  src/modules/bonus/index.ts
  src/modules/bonus/onboarding/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/bonus/onboarding/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/onboarding/BonusOnboarding_WelcomeScreen.tsx
  src/modules/bonus/onboarding/config.ts
  src/modules/bonus/onboarding/index.ts
  src/modules/onboarding/onboarding-carousel/onboarding-carousel-config.ts
  src/modules/onboarding/onboarding-carousel/types.ts
  src/modules/onboarding/onboarding-config.ts
  src/modules/smart-park-and-ride/index.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
  src/modules/smart-park-and-ride/onboarding/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

test: handle different token states in e2e tests (#5420)
  e2e/conf/wdio.conf.ts
  e2e/test/pageobjects/debug.page.ts
  e2e/test/pageobjects/onboarding.page.ts
  e2e/test/pageobjects/profile.page.ts
  e2e/test/pageobjects/ticket.details.page.ts
  e2e/test/pageobjects/ticket.frontpage.page.ts
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.0.cleanup.e2e.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/specs/auth.2.e2e.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/ticket.auth.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/components/InspectionSymbol.tsx
  src/modules/mobility/components/filter/FormFactorFilterSectionItem.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/travel-token-box/TravelTokenDeviceTitle.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix: identity as default
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Update iOS devices with Håkons new phone
  env/atb/ios-devices.txt
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

style: Fixed from spaces to tabs for troms and atb also
  env/atb/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: Update iOS devices with Håkons new phone (#5457)
  env/atb/ios-devices.txt
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: identity as default (#5461)
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

ci: use cache by default when manually creating android builds
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

refactor: use react-native-image-resizer for image compression
  ios/Podfile.lock
  package.json
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/utils/image.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Add rule variables for zones in Announcements
  package.json
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/CityZoneMessage.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/hooks.ts
  src/utils/use-find-zone-in-location.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: add ios device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: announce radio button selection changes on android
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add ios device (#5465)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

refactor: rewrite axios client error interceptor
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: enhance error handling by using HttpErrorResponse and isErrorResponse
  src/api/client.ts
  src/api/utils.ts
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use ErrorResponse instead of AxiosError
  src/api/client.ts
  src/api/profile.ts
  src/api/utils.ts
  src/modules/auth/auth-utils.ts
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/map/components/LocationBar.tsx
  src/modules/mobile-token/tokenService.ts
  src/modules/mobile-token/utils.ts
  src/modules/mobility/api/api.ts
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/ticketing/use-refund-mutation.tsx
  src/queries/update-profile-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/use-current-trip-pattern-with-updates.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/Results.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EditProfileScreen.tsx
  src/stacks-hierarchy/utils.ts
  src/utils/use-pollable-resource.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use renamed property
  src/modules/mobile-token/tokenService.ts
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Memoize polygon lookup
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/utils/use-find-zone-in-location.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use correct types when casting
  src/api/profile.ts
  src/modules/auth/auth-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add 1 device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: add 1 device (#5466)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: fix space to tab
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: rename feedback
  src/modules/bonus/index.ts
  src/modules/bonus/onboarding/config.ts
  src/modules/bonus/onboarding/index.ts
  src/modules/onboarding/extended-onboarding/config.ts
  src/modules/onboarding/extended-onboarding/index.ts
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/onboarding-carousel-config.ts
  src/modules/onboarding/onboarding-carousel/types.ts
  src/modules/onboarding/onboarding-carousel/use-navigate-to-next-onboarding-screen.ts
  src/modules/smart-park-and-ride/index.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
  src/modules/smart-park-and-ride/onboarding/index.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_OnboardingCarouselStack/Root_OnboardingCarouselStack.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

chore: fix space to tab (#5467)
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: use uri to fetch data
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/utils/image.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactored and simplified flyTo and mapCamera functionallity in the map
  package.json
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapConfig.ts
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/hooks/use-decide-camera-focus-mode.tsx
  src/modules/map/hooks/use-trigger-camera-move-effect.tsx
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/filter/MapFilter.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

Log announcement fail info
  src/modules/announcements/converters.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed lint error
  src/modules/map/components/mobility/Vehicles.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Improve announcement warning
  src/modules/announcements/converters.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bump kettle-sdk to 1.4.3
  android/app/build.gradle
Owners: @rosvik, @reidzeibel

Announcement warning info (#5470)
  src/modules/announcements/converters.ts
Owners: @marius-at-atb, @rosvik, @strandlie

updated param names
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
