Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: prevent screen sleep in travel aid (#5596)
  ios/Podfile.lock
  package.json
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: add a11yLiveRegion to no realtime error (#5597)
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update subscreen headers (#5595)
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelTokenScreen/Profile_TravelTokenScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Update dependencies and remove hacks
  package.json
  patches/@atb-as+config-specs+8.4.1.patch
  patches/@atb-as+utils+5.1.1.patch
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

nit naming
  src/modules/purchase-selection/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove duplicate price summary component
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Rename test id name for traveller in price summary
  e2e/test/pageobjects/purchase.summary.page.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

nit
  src/modules/purchase-selection/purchase-selection-builder.ts
Owners: @marius-at-atb, @rosvik, @strandlie

nit comment
  src/modules/purchase-selection/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: textAlignVertically top on multiline text inputs (#5598)
  src/components/sections/items/TextInputSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Unify naming with user profiles for count state
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-baggage-count-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Add GlobalMessage in Profile
  src/modules/global-messages/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Treat limitations as an actual allowed-list
  .vscode/launch.json
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add icons to geofencing zone in map (#5580)
  jest.config.js
  package.json
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/geofencing-zone-utils.ts
  src/modules/map/hooks/use-map-symbol-styles.ts
  src/modules/map/hooks/use-pre-processed-geofencing-zones.tsx
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/queries/use-geofencing-zones.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

add own type for reference data name + fix-ish a bug (not really)
  src/modules/configuration/index.ts
  src/modules/configuration/utils.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/utils/array-map-unique-with-count.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

Use neutralContrastColor
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

set id for offer request to baggagetype for baggage
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add a build state + validation in purchase selection
  src/modules/purchase-selection/__tests__/purchase-selection-builder-from-selection.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-product.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-zones.test.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/purchase-selection/purchase-selection-builder.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add GlobalMessage in Profile (#5601)
  src/modules/global-messages/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

simplify listing out price summary
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Complete onboarding section when closing carousel (#5600)
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump to version 1.76.1
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fixed typo
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added two new bottomsheets to parkingViolationsQrScreen (#5594)
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: migrated TravelSearchFiltersBottomSheet to use new bottomsheet (#5589)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-travel-search-filters-state.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

updated podfile
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

fix: calculate center of simple polygons with separate function
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove error logging
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove error logging (#5602)
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed small changes from feedback
  src/components/camera/Camera.tsx
  src/components/camera/CameraScreenContainer.tsx
  src/translations/components/Camera.tsx
  src/translations/screens/ParkingViolations.ts
Owners: @marius-at-atb, @rosvik, @strandlie

new podlock file after merge conflict
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

feat: camera layout (#5579)
  ios/Podfile.lock
  package.json
  src/components/PhotoCapture/PhotoCapture.tsx
  src/components/PhotoCapture/ScreenContainer.tsx
  src/components/camera/Camera.tsx
  src/components/camera/CameraScreenContainer.tsx
  src/components/camera/index.ts
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/translations/components/Camera.tsx
  src/translations/screens/ParkingViolations.ts
  src/translations/screens/subscreens/MobilityTexts.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: add hook to navigate to nested profile screen
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/hooks/use-enter-payment-methods.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/index.ts
  src/stacks-hierarchy/index.ts
  src/utils/use-navigate-to-nested-profile-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add progressBetweenStops debug toggle
  src/api/types/generated/ServiceJourneyVehiclesQuery.ts
  src/modules/preferences/types.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/use-get-service-journey-vehicles.ts
  src/screen-components/travel-details-screens/utils.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for datepicker sheet
  src/components/date-selection/DatePickerSheet.tsx
  src/components/date-selection/DateSelection.tsx
  src/index.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/StartTimeSelection.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add progressBetweenStops debug toggle (#5603)
  src/api/types/generated/ServiceJourneyVehiclesQuery.ts
  src/modules/preferences/types.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/use-get-service-journey-vehicles.ts
  src/screen-components/travel-details-screens/utils.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use turf centroid to calculate center of simple polygons
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for imageconfirmationsheet
  src/components/PhotoCapture/ImageConfirmationBottomSheet.tsx
  src/components/PhotoCapture/PhotoCapture.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: feedback
  src/modules/map/MapBottomSheets.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/BonusDashboard.tsx
  src/utils/use-navigate-to-nested-profile-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
