Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

Remove isDismissable on Announcement type
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: alwaysPaintOnEntireScreenToAvoidFlicker (#5376)
  src/components/bottom-sheet/AnimatedBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add link to issue in comment
  src/components/bottom-sheet/AnimatedBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update ios-devices.txt (#5386)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

Add zod as direct dependency
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

Change to ^3.24.4
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update blue button stop signal endpoint
  src/api/stop-signal.ts
  src/screen-components/travel-aid/components/StopSignalButton.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

build: re-generate podfile.lock
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

chore: upgrade react-native-firebase
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

build: upgrade cocoapods
  Gemfile
  Gemfile.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: resolved conflicts
  src/modules/fare-contracts/components/FareContractDescription.tsx
  src/modules/fare-contracts/components/ProductName.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: update baseline images (#5384)
  e2e/results/.gitignore
  e2e/screenshots/visualTests/baseline/departures_departureDetailsContent-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAid-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAidSection-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_quay0-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/frontpage-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket2-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_purchaseSummary-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_singleTicketElem-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_ticketInformationNight-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_bottom-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_top-android-1080x2340.png
  e2e/test/visualTests/specs/visual.travelsearch.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

chore: disable react-native-firebase deprecated warnings
  src/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Reduce maxzoom
  src/modules/map/components/mobility/VehiclesAndStations.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove isDismissable on Announcement type (#5389)
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Reduce maxzoom (#5393)
  src/modules/map/components/mobility/VehiclesAndStations.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add zod to package.json (#5391)
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add link to issue in comment (#5390)
  src/components/bottom-sheet/AnimatedBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update blue button stop signal endpoint (#5392)
  src/api/stop-signal.ts
  src/screen-components/travel-aid/components/StopSignalButton.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use stream service to invalidate bonus amount query (#5383)
  src/modules/bonus/api/api.ts
  src/modules/bonus/index.ts
  src/modules/bonus/queries/index.tsx
  src/modules/bonus/queries/use-bonus-amount-earned-query.tsx
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

feat(spar): show warning when unauthenticated
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add service disruption link to profile information screen
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

revert: "Revert server time from identity (#5356)"
  src/api/identity.ts
  src/modules/time/TimeContext.tsx
  src/modules/time/index.ts
  src/modules/time/use-server-time-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: _always_ refresh on window focus, not just when stale
  src/modules/time/use-server-time-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use correct auth check
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add service disruption link to profile information screen (#5395)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bonus checkbox posthog value logged is correct
  src/modules/bonus/components/PayWithBonusPointsCheckbox.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: bonus checkbox posthog value logged is correct (#5396)
  src/modules/bonus/components/PayWithBonusPointsCheckbox.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

chore: Bump to version 1.73
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump to version 1.73 (#5398)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: upgrade react-native-firebase (#5382)
  Gemfile
  Gemfile.lock
  ios/Podfile.lock
  package.json
  src/index.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix(spar): update max length of license plate input
  src/modules/smart-park-and-ride/components/LicensePlateSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update release script with target branch and small changes to release docs
  docs/Release.md
  tools/release/release-draft.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix(spar): update max length of license plate input (#5399)
  src/modules/smart-park-and-ride/components/LicensePlateSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Earning 0 points is npt visble on bought ticket
  src/modules/fare-contracts/FareContractView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Earning 0 points is npt visble on bought ticket (#5401)
  src/modules/fare-contracts/FareContractView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Earning 0 points is npt visble on bought ticket (#5401)
  src/modules/fare-contracts/FareContractView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: move isServerTimeEnabled into useServerTimeQuery
  src/modules/time/TimeContext.tsx
  src/modules/time/use-server-time-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update release script with target branch and small changes to release docs (#5400)
  docs/Release.md
  tools/release/release-draft.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: validate and transform fare products with zod
  src/modules/configuration/index.ts
  src/modules/ticketing/api.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
