Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

chore: Bump to version 1.75 (#5490)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

feat: add support for RNBarcodeInspectionView token aztec code
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/mobile-token/index.ts
  src/modules/mobile-token/mobileTokenClient.ts
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add new device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: add new device (#5493)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

nit: queryFn doesn't want undefined
  src/api/bff/mobility.ts
  src/api/bff/servicejourney.ts
  src/modules/mobile-token/hooks/use-get-signed-token-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed departurecalls reloading bottomsheet
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-get-departures-query.ts
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
  src/screen-components/place-screen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use config-specs v8
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: .catch errors from beginInspection()
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update device entry for Adrian
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

Remove zod resolution
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Don't wrap queryKey-array in new array
  src/modules/smart-park-and-ride/queries/use-add-vehicle-registration-mutation.ts
  src/modules/smart-park-and-ride/queries/use-delete-vehicle-registration-mutation.ts
  src/modules/smart-park-and-ride/queries/use-edit-vehicle-registration-mutation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Use arrow function
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Order matters in what is parsed
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: revert a11y role change for radio buttons
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Upgrade zod and utils (#5474)
  babel.config.js
  package.json
  src/modules/map/types.ts
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade Intercom to latest (#5488)
  ios/Podfile.lock
  package.json
  src/modules/chat/use-chat-unread-count.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

renamed departures variable
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: only set application and os in device details
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add aztec_code_size_in_cm docstring
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Magnus/fix bottom sheet departure calls (#5495)
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
  src/screen-components/place-screen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: revert a11y role change for radio buttons (#5496)
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed stateissue with returning form onboarding
  src/modules/map/MapBottomSheets.tsx
  src/modules/mobility/components/ShmoActionButton.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update device entry for Adrian (#5494)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

docs: add some notes on building android
  android/README.md
Owners: @rosvik, @reidzeibel

fixed stale consentstate in bottomsheet
  src/modules/map/MapContext.tsx
  src/modules/mobility/use-shmo-requirements.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused export
  src/modules/mobility/use-shmo-requirements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed linterror
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed stale consentstate in bottomsheet (#5499)
  src/modules/map/MapContext.tsx
  src/modules/mobility/use-shmo-requirements.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Extract props for action button into hook
  src/modules/announcements/index.ts
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add own action button for bottom sheet (#5481)
  src/modules/analytics/types.ts
  src/modules/announcements/index.ts
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: revert a11y role change for radio buttons (#5496)
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add some notes on building android (#5498)
  android/README.md
Owners: @rosvik, @reidzeibel

fixed animation for bottomsheet
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed reactQuery upgrade issues
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed animation for bottomsheet (#5500)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Magnus/fix bottom sheet departure calls (#5495)
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
  src/screen-components/place-screen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed stale consentstate in bottomsheet (#5499)
  src/modules/map/MapContext.tsx
  src/modules/mobility/use-shmo-requirements.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed animation for bottomsheet (#5500)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

reverted changes based on other commits on master so it could fit RC
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie
