Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: add stream service info to profile and Intercom
  src/modules/chat/use-intercom-metadata.ts
  src/modules/feature-toggles/FeatureTogglesContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove temporary fallback to coordinates
  package.json
  src/utils/decode-polyline-geometry.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix issue
  src/translations/dictionary.ts
  src/utils/transportation-names.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update arrow offset value
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: also set 'false'
  src/modules/feature-toggles/FeatureTogglesContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: remove try/catch
  src/modules/feature-toggles/FeatureTogglesContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Enable ANDROID_SYNCHRONOUSLY_UPDATE_UI_PROPS for performance with multiple Reanimated-animations
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add stream service info to profile and Intercom (#5702)
  src/modules/chat/use-intercom-metadata.ts
  src/modules/feature-toggles/FeatureTogglesContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use mapbox shapesource for live vehicle marker (#5714)
  src/components/icon-box/index.ts
  src/components/icon-box/utils.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/DirectionArrow.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Enable ANDROID_SYNCHRONOUSLY_UPDATE_UI_PROPS for performance with multiple Reanimated-animations (#5730)
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie

fix: allow scroll gestures outside of content in scroll views
  patches/react-native+0.83.1.patch
Owners: @marius-at-atb, @rosvik, @strandlie

Only send vehicle requests for vehicles
  src/api/bff/mobility.ts
  src/modules/map/Map.tsx
  src/modules/mobility/queries/use-vehicle-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: allow scroll gestures outside of content in scroll views (#5731)
  patches/react-native+0.83.1.patch
Owners: @marius-at-atb, @rosvik, @strandlie

fix: group tickets by year instead of month
  src/screen-components/purchase-history/PurchaseHistoryScreenComponent.tsx
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: make NotInspectableContent always yellow
  src/modules/fare-contracts/components/InspectionSymbol.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Only send vehicle requests for vehicles (#5732)
  src/api/bff/mobility.ts
  src/modules/map/Map.tsx
  src/modules/mobility/queries/use-vehicle-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed flickering of logo image in header
  src/components/bottom-sheet/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: update readme
  README.md
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Use Reanimated for ParallaxScroll
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove iOS hacks to fix initial scroll inset/offset
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/screen-view/FullScreenView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Make ParallaxScroll owner of RefreshControl
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/screen-view/FullScreenView.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use "info and terms" header in information screen header
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added type to event
  src/components/bottom-sheet/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: fixed flickering of logo image in header (#5735)
  src/components/bottom-sheet/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: update readme (#5736)
  README.md
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use "info and terms" header in information screen header (#5737)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use generic vehicle loading icon
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade mapbox (#5727)
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/modules/map/Map.tsx
  src/modules/map/components/SelectedFeatureIcon.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/mobility/VehiclesAndStations.tsx
  src/modules/map/components/national-stop-registry-features/NationalStopRegistryFeatures.tsx
  src/modules/map/components/national-stop-registry-features/nsr-layers.ts
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-map-symbol-styles.ts
  src/modules/map/utils.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Use generic vehicle loading icon (#5738)
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use most recent Android Mapbox version
  android/build.gradle
Owners: @rosvik, @reidzeibel

fix: Use most recent Android Mapbox version (#5739)
  android/build.gradle
Owners: @rosvik, @reidzeibel

added upport navigation from farecontract
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/utils.ts
  src/modules/map/index.ts
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update purchase history design (#5733)
  src/modules/fare-contracts/components/InspectionSymbol.tsx
  src/modules/fare-contracts/components/SentOrReceivedMessageBox.tsx
  src/modules/fare-contracts/components/SentToMessageBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
  src/screen-components/purchase-history/PurchaseHistoryScreenComponent.tsx
  src/screen-components/purchase-history/index.tsx
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
  src/screen-components/ticket-history/index.tsx
  src/screen-components/ticket-history/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PurchaseHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistorySelectionScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/TabNav_ProfileStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/TabNav_TicketingStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_PurchaseHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/navigation-types.ts
  src/translations/screens/FareContract.ts
  src/translations/screens/Profile.ts
  src/translations/screens/Ticketing.ts
Owners: @marius-at-atb, @rosvik, @strandlie

improved list performance
  src/screen-components/purchase-history/PurchaseHistoryScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed formatting
  src/modules/map/index.ts
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Skip icons for allowed gfz zones
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Skip icons for allowed gfz zones (#5741)
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: android-specific maintenance
  android/app/build.gradle
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/build.gradle
Owners: @rosvik, @reidzeibel

feat: added getOperators query and shmo fareContract header name (#5716)
  src/api/mobility.ts
  src/api/types/mobility.ts
  src/api/utils.ts
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/queries/use-get-operators-query.tsx
  src/modules/mobility/utils.ts
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

optimize cleanup script
  .github/actions/android-build-cleanup-runner/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
