Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

feat: added test-ids
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/components/InspectionSymbol.tsx
  src/modules/mobility/components/filter/FormFactorFilterSectionItem.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/travel-token-box/TravelTokenDeviceTitle.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: handle token tests with different token states
  e2e/conf/wdio.conf.ts
  e2e/test/pageobjects/debug.page.ts
  e2e/test/pageobjects/onboarding.page.ts
  e2e/test/pageobjects/profile.page.ts
  e2e/test/pageobjects/ticket.details.page.ts
  e2e/test/pageobjects/ticket.frontpage.page.ts
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.0.cleanup.e2e.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/specs/auth.2.e2e.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/ticket.auth.e2e.ts
  e2e/test/specs/ticket.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

test: prettier
  e2e/test/pageobjects/debug.page.ts
  e2e/test/pageobjects/onboarding.page.ts
  e2e/test/pageobjects/profile.page.ts
  e2e/test/pageobjects/ticket.details.page.ts
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.0.cleanup.e2e.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/ticket.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

fix(spar): move SP&R button
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: optional chaining
  src/modules/smart-park-and-ride/api/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: optional chaining vol. 2
  src/modules/smart-park-and-ride/api/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Enable new React Native architecture
  android/gradle.properties
  ios/AtbAppIntent/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/atb/Info.plist
  ios/departureWidget/Info.plist
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat(spar): handle vehicle registration errors and add refresh control (#5417)
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/smart-park-and-ride/queries/use-add-vehicle-registration-mutation.ts
  src/modules/smart-park-and-ride/queries/use-edit-vehicle-registration-mutation.ts
  src/modules/smart-park-and-ride/types.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

whitespace
  .github/actions/ios-build-setup/action.yml
  .rnstorybook/storybook.requires.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): move SP&R button (#5422)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed some a11y roles (#5421)
  src/screen-components/nearby-stop-places/components/StopPlaceItem.tsx
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: map updates
  e2e/test/flashlight/performanceMeasures_map.e2e.ts
  e2e/test/pageobjects/map.page.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

refactor: rewrite axios client error interceptor
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove unused RootView
  ios/AppDelegate.swift
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/AtBRootView.h
  ios/atb/AtBRootView.m
Owners: @rosvik, @reidzeibel

refactor: use ErrorResponse instead of AxiosError
  src/api/client.ts
  src/api/profile.ts
  src/api/utils.ts
  src/modules/auth/auth-utils.ts
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/map/components/LocationBar.tsx
  src/modules/mobile-token/tokenService.ts
  src/modules/mobile-token/utils.ts
  src/modules/mobility/api/api.ts
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/ticketing/use-refund-mutation.tsx
  src/queries/update-profile-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/use-current-trip-pattern-with-updates.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/Results.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EditProfileScreen.tsx
  src/stacks-hierarchy/utils.ts
  src/utils/use-pollable-resource.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use renamed property
  src/modules/mobile-token/tokenService.ts
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: added a test-id
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: more tests for measuring performance
  e2e/scripts/run-flashlight-tests.sh
  e2e/test/flashlight/performanceMeasures.e2e.ts
  e2e/test/flashlight/performanceMeasures_departures.e2e.ts
  e2e/test/flashlight/performanceMeasures_tickets.e2e.ts
  e2e/test/flashlight/performanceMeasures_travelsearch.e2e.ts
  e2e/test/pageobjects/ticket.buy.page.ts
  e2e/test/pageobjects/travelsearch.overview.page.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/visualTests/specs/visual.travelsearch.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

fix: Kettle is not async with 2.0.0
  .rnstorybook/storybook.requires.ts
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): optional → nullish for nickname
  src/modules/smart-park-and-ride/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): optional → nullish for nickname (#5425)
  src/modules/smart-park-and-ride/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Downgrade to eslint 8 cause of a LOT of changes
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

expanded redicer to cover all cases of item clicks in the map. And moved logic from state ot reducer
  src/components/bottom-sheet-map/BottomSheetMap.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-auto-select-map-item.tsx
  src/modules/map/hooks/use-decide-camera-focus-mode.tsx
  src/modules/map/hooks/use-map-bottom-sheets.tsx
  src/modules/map/hooks/use-map-selection-change-effect.tsx
  src/modules/map/hooks/use-update-bottom-sheet-when-selected-entity-changes.tsx
  src/modules/map/mapStateReducer.ts
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Lint
  src/api/types/mobility.ts
  src/components/sections/items/PhoneInputSectionItem.tsx
  src/components/sections/items/TextInputSectionItem.tsx
  src/modules/auth/auth-utils.ts
  src/modules/beacons/BeaconsContext.tsx
  src/modules/chat/use-register-intercom-user.ts
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/mobile-token/MobileTokenContext.tsx
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/modules/search-history/storage.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/screen-components/travel-details-screens/use-map-data.ts
  src/stacks-hierarchy/Root_LoginOptionsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SortFavoritesScreen/Profile_SortFavoritesScreen.tsx
  src/utils/navigation.ts
  src/utils/object.ts
  src/utils/use-navigation-safe.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Don't generate invalid svgs
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Revert jest upgrade
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  .rnstorybook/storybook.requires.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: move announcement text into a section item
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Shorten login button text
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Shorten no favorite departures widget text and illustration
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/translations/screens/Departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fix travel bottom tab text + header
  src/translations/dictionary.ts
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Prettier
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Departure time texts
  src/translations/screens/Departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Travel time texts
  src/translations/screens/TripSearch.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Adjust texts and illustration (#5427)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/translations/dictionary.ts
  src/translations/screens/Dashboard.ts
  src/translations/screens/Departures.ts
  src/translations/screens/Profile.ts
  src/translations/screens/TripSearch.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): add missing case for error message
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): add missing case for error message (#5428)
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update announcements styling
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Added a permanent allHarborsQuery
  src/modules/harbors/use-harbors.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
