Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

added new bottomsheet for emojisheet
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/EmojiSheet.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/Root_AddEditFavoritePlaceScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Center travellers text if no description
  src/components/sections/items/CounterSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Center travellers text if no description (#5633)
  src/components/sections/items/CounterSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo when selecting harbors
  src/stacks-hierarchy/Root_PurchaseHarborSearchScreen/Root_PurchaseHarborSearchScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Revert "Remove unexpected navigation"
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Persist NearestStopPlaceNodes
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify NearestStopPlacesQueryVariables type
  src/api/types/generated/NearestStopPlacesQuery.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Nearest stop places with tanstack query (#5627)
  src/api/bff/departures.ts
  src/api/types/generated/NearestStopPlacesQuery.ts
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Snap coordinates to grid for nearest stop place nodes
  package.json
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
  src/utils/snap-coordinates-to-grid.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: don't persist nearest stops
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for emojisheet (#5632)
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/EmojiSheet.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/Root_AddEditFavoritePlaceScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Can now press button to add override. Doesn't work
  src/modules/debug/DebugServerOverrides.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove title on Traveller-selection when multiple (#5624)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Get rid of unnecessary as cast
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Multiply instead of divide
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Re-add accessible text for large from-to box
  src/modules/fare-contracts/components/FromToBox.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Reuse a11y label from recent tickets
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/use-ticket-accessibility-label.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/translations/screens/FareContract.ts
  src/translations/screens/subscreens/RecentFareContractsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo when selecting harbors (#5634)
  src/stacks-hierarchy/Root_PurchaseHarborSearchScreen/Root_PurchaseHarborSearchScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/fare-contracts/index.ts
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add back SchmoTesting
  src/modules/map/components/mobility/ShmoTesting.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: don't persist nearest stops (#5636)
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove repeat of ticket name on overview
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/use-ticket-accessibility-label.ts
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add showShmoTesting preference for debugging
  src/modules/preferences/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Show ShmoTesting if showShmoTesting preference true
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/ShmoTesting.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: shmo testing toggle (#5638)
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/ShmoTesting.tsx
  src/modules/preferences/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for travelers, and made it autosave when closing bottomsheet
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Ticket accessibility labels for new visualization (#5637)
  src/modules/fare-contracts/components/FromToBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/use-ticket-accessibility-label.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/translations/screens/FareContract.ts
  src/translations/screens/subscreens/RecentFareContractsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed prettier issue
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: markdown renderer handles bold on android
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed issue where filter options dont update when exiting the filtered opetions on the front page. Also added the new autosave look without save button
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: a11y for Bonus on ticket text
  src/components/sections/items/LinkSectionItem.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

fix: use Linking.openURL for contacting customer service
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

formatting
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use Linking.openURL for contacting customer service (#5641)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused code
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.78
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: remove some unused code (#5623)
  src/components/status-bar-on-focus/StatusBarOnFocus.tsx
  src/components/status-bar-on-focus/index.ts
  src/modules/fare-contracts/components/FareContractStatusSymbol.tsx
  src/modules/map/components/mobility/Bicycles.tsx
  src/modules/map/components/mobility/Scooters.tsx
  src/modules/mobility/components/CarName.tsx
  src/modules/mobility/components/IconText.tsx
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SectionHeading.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
  src/utils/__tests__/is-element-fully-inside-screen.test.ts
  src/utils/is-element-fully-inside-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.78 (#5643)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

cleaned up some code
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: updated TravelSearchFiltersBottomSheet (#5640)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
