Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

improved map movement when interacting with items in the map
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/mapStateReducer.ts
Owners: @marius-at-atb, @rosvik, @strandlie

went back on some changes
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Changed title of MinPris in TicketInformationScreen
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show time of day for next consumption
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/ticketing/types.ts
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: move carnet logic into CarnetFooter
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: reload school carnet data on validity status change
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/use-school-carnet-info-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): clean up language and minor feedback changes (#5513)
  src/modules/smart-park-and-ride/components/LicensePlateSection.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add new device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: add new device (#5519)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

feat: reload school carnet info on pull to refresh
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.5
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: update screen headers for main pages
  src/components/heading/ScreenHeading.tsx
  src/components/screen-header/ScreenHeader.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: formatting
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed minimized height issue causing different minimized views based on phone and textsize
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-map/utils.ts
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.5 (#5521)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

adjusteed for active trip counter in minimized view
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

renamed variable and added some padding to the min header
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed minimized height issue on different devices (#5523)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-map/utils.ts
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

created hook for separation and some renaming ´
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-fly-to-selected-map-item-with-padding.tsx
  src/modules/map/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

removed isMapV2Enabled feature flag and cleaned up some code
  src/components/bottom-sheet/BottomSheetContext.tsx
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/modules/feature-toggles/toggle-specifications.ts
  src/modules/map/ExploreLocationMap.tsx
  src/modules/map/Map.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/index.ts
  src/modules/mobility/components/filter/MobilityFilters.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/TabNav_MapStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed hardcoding of endpoint for NFK. Now usable for atb, fram and troms also
  src/api/bff/stop-places.ts
  src/api/client.ts
  types/app-orgs.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed local bff routing
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add rentalApiUriQueryParams to scooter operators
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/utils.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Added a11y label for situations and notices
  src/components/journey-legs-summary/LegsSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: move funstion
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

removed return from comment
  src/modules/map/hooks/use-fly-to-selected-map-item-with-padding.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Added eslint exception, clarifying commment and small refactor
  src/translations/__tests__/utils.test.ts
  src/translations/types.ts
  src/translations/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Added a11y label for situations and notices (#5527)
  src/components/journey-legs-summary/LegsSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: share SCHOOL_CARNET_QUERY_KEY
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-school-carnet-info-query.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show carnet consumptions for school ticket (#5520)
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-data.test.ts
  src/modules/fare-contracts/carnet/calculate-carnet-data.ts
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/utils.ts
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/types.ts
  src/modules/ticketing/use-school-carnet-info-query.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/translations/screens/FareContract.ts
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed unnecessary sales client
  src/api/sales.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed map camera movement in the map to be more predictable (#5516)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-fly-to-selected-map-item-with-padding.tsx
  src/modules/map/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update api data to camel case
  src/modules/mobility/api/api.ts
  src/modules/mobility/use-is-eligible-for-benefit.tsx
  src/modules/mobility/use-operator-benefits-for-fare-product.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update test
  src/modules/mobility/__tests__/use-is-eligible-for-benefit.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: ignore "Open debugger to view warnings" LogBox warning
  src/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: app calls benefit service directly (#5502)
  src/modules/mobility/__tests__/use-is-eligible-for-benefit.test.ts
  src/modules/mobility/api/api.ts
  src/modules/mobility/use-is-eligible-for-benefit.tsx
  src/modules/mobility/use-operator-benefits-for-fare-product.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Start of implementing server overrides
  src/modules/debug/DebugServerOverrides.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: set gcTime to 1 hour for polylines
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate departure details to useQuery
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/__tests__/get-should-show-live-vehicle.test.ts
  src/screen-components/travel-details-screens/index.tsx
  src/screen-components/travel-details-screens/use-departure-details-query.ts
  src/screen-components/travel-details-screens/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename some map data types
  src/api/bff/servicejourney.ts
  src/api/types/serviceJourney.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/screen-components/travel-details-screens/use-map-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
