Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

refactor: migrate departure details and polyline to useQuery (#5508)
  src/api/bff/servicejourney.ts
  src/api/types/serviceJourney.ts
  src/components/estimated-call/DepartureTime.tsx
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
  src/screen-components/travel-details-map-screen/utils.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/__tests__/get-should-show-live-vehicle.test.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/screen-components/travel-details-screens/index.tsx
  src/screen-components/travel-details-screens/use-departure-data.ts
  src/screen-components/travel-details-screens/use-departure-details-query.ts
  src/screen-components/travel-details-screens/use-map-data.ts
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
  src/screen-components/travel-details-screens/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate delete profile call to useMutation (#5540)
  src/api/profile.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DeleteProfileScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update paddingLeft and borderBottomWidth to use theme values
  src/components/heading/ScreenHeading.tsx
  src/components/screen-header/ScreenHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused code
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/mobility/BikeStations.tsx
  src/modules/map/components/mobility/CarStations.tsx
  src/modules/map/components/mobility/Stations.tsx
  src/modules/map/components/mobility/Vehicles.tsx
  src/modules/map/components/mobility/index.ts
  src/modules/map/index.ts
  src/modules/map/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update snackbar design and add icon (#5531)
  src/components/snackbar/Snackbar.tsx
  src/components/snackbar/index.ts
  src/components/snackbar/use-snackbar-is-visible.ts
  src/components/snackbar/use-snackbar-screen-reader-focus.ts
  src/components/snackbar/use-snackbar.tsx
  src/components/snackbar/utils.ts
  src/modules/map/MapV2.tsx
  src/modules/storybook/stories/Snackbar.stories.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update screen headers for main pages (#5522)
  package.json
  src/components/heading/ScreenHeading.tsx
  src/components/screen-header/ScreenHeader.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add TOKEN_ACTION_IDENTIFICATION to QR-code for carpool
  src/modules/mobile-token/mobileTokenClient.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed orgId from app. Added it to BFF instead
  src/api/bff/stop-places.ts
  types/app-orgs.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename onError event to onClose
  src/api/bff/vehicles.ts
  src/api/use-subscription.ts
  src/modules/event-stream/use-setup-event-stream.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed unnecessary line in header
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FareProductHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename onError event to onClose (#5543)
  src/api/bff/vehicles.ts
  src/api/use-subscription.ts
  src/modules/event-stream/use-setup-event-stream.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed unnecessary line in header (#5544)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FareProductHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add GeofencingZoneIconBox and use on snackbars in map
  src/components/icon-box/GeofencingZoneIconBox.tsx
  src/components/icon-box/index.ts
  src/components/icon-box/utils.ts
  src/components/snackbar/Snackbar.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/index.ts
  src/modules/storybook/stories/Snackbar.stories.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: imports
  src/components/icon-box/GeofencingZoneIconBox.tsx
  src/components/icon-box/utils.ts
  src/components/snackbar/Snackbar.tsx
  src/modules/storybook/stories/Snackbar.stories.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Second commit, a bit closer
  src/modules/debug/DebugServerOverrides.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: updated NoEntry icon
  src/components/icon-box/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed missing product info and wrong gap
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update texts on snackbars
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add TOKEN_ACTION_IDENTIFICATION to QR-code for carpool (#5542)
  src/modules/mobile-token/mobileTokenClient.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add multiline input design
  src/components/sections/items/TextInputSectionItem.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Use the default secondary color for headings
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add multiline input design (#5547)
  src/components/sections/items/TextInputSectionItem.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Moved component specific style into component
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed missing product info and wrong gap (#5546)
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed flexDiscountInfo when not relevant. Added more type safety
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Remove old android font weight fix and related logic
  src/components/text/ThemeText.tsx
  src/theme/colors.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add textAlignVertical top
  src/components/sections/items/TextInputSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: add test-id
  e2e/test/pageobjects/debug.page.ts
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

test: add test-id (#5550)
  e2e/test/pageobjects/debug.page.ts
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix: set max comment length to 400 and use in inputfield
  src/api/types/mobility.ts
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: multiline input feedback fixes (#5551)
  src/api/types/mobility.ts
  src/components/sections/items/TextInputSectionItem.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed flexDiscountInfo when not relevant. Added more type safety (#5548)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add contact info onboarding screen
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AddScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/screen-components/smart-park-and-ride/index.ts
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: yml change
  .github/workflows/test-e2e-android.yml
Owners: @rosvik, @reidzeibel

fix(spar): onboarding changes based on feedback
  src/modules/bonus/onboarding/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/bonus/onboarding/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/onboarding/BonusOnboarding_WelcomeScreen.tsx
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/use-navigate-to-next-onboarding-screen.ts
  src/modules/onboarding/onboarding-carousel/use-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: formatting
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: update version in pacakage.json and move logic to OperatorActionButton
  package.json
  src/modules/map/MapV2.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/OperatorActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

test: yml change (#5552)
  .github/workflows/test-e2e-android.yml
Owners: @rosvik, @reidzeibel

fixed some comments from PR
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed comment
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
