Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: added a way to collapse bottomsheet when navigating in the map (#5666)
  src/components/bottom-sheet-v2/BottomSheetV2Context.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/index.ts
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/hooks/use-fly-to-selected-map-item-with-padding.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fix android build
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: fix android build (#5671)
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: clean up bonus profile screen based on feedback
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Post merge fix
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Show extruded buildings above gfz fill and line
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-mapbox-json-style.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add emissive strength to gfz
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

renamed overrideCloseFunction
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/date-selection/DatePickerSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add missing nynorsk translation for park and ride message
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add missing nynorsk translation for park and ride message (#5673)
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: auto save date picker sheet (#5655)
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/date-selection/DatePickerSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: clean up bonus profile screen based on feedback (#5672)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed a11y label for save for later checkbox
  src/modules/payment/MultiplePaymentMethodsRadioSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: fixed a11y label for saveForLater checkbox (#5674)
  src/modules/payment/MultiplePaymentMethodsRadioSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: handle undefined capacity in ParkAndRideBottomSheet
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add a11yhint for external links bonus
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add a11yhint for external links bonus (#5677)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use tanstack query for vipps login (#5670)
  src/api/identity.ts
  src/modules/auth/index.ts
  src/modules/auth/use-authenticate-vipps.tsx
  src/stacks-hierarchy/Root_LoginOptionsScreen.tsx
  src/translations/screens/subscreens/EditProfileScreen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: testId bottom sheet
  src/departure-list/section-items/FavoriteDialogSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: adapt to new bottom sheets
  e2e/test/pageobjects/favorite.page.ts
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

added bottomSheetHeaderType to the bottomsheet
  src/components/PhotoCapture/ImageConfirmationBottomSheet.tsx
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/bottom-sheet-v2/index.ts
  src/components/bottom-sheet-v2/use-bottom-sheet-header-type.ts
  src/components/date-selection/DatePickerSheet.tsx
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/modules/situations/SituationBottomSheet.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/EmojiSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added bottomSheetHeaderType to the bottomsheet (#5679)
  src/components/PhotoCapture/ImageConfirmationBottomSheet.tsx
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/bottom-sheet-v2/index.ts
  src/components/bottom-sheet-v2/use-bottom-sheet-header-type.ts
  src/components/date-selection/DatePickerSheet.tsx
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/modules/situations/SituationBottomSheet.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/EmojiSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: some e2e test fixes (#5678)
  e2e/test/pageobjects/favorite.page.ts
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
  src/departure-list/section-items/FavoriteDialogSheet.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

deleted old bottomsheet
  src/components/bottom-sheet/AnimatedBottomSheet.tsx
  src/components/bottom-sheet/Backdrop.tsx
  src/components/bottom-sheet/BottomSheetContainer.tsx
  src/components/bottom-sheet/BottomSheetContext.tsx
  src/components/bottom-sheet/BottomSheetHeader.tsx
  src/components/bottom-sheet/ClickableBackground.tsx
  src/components/bottom-sheet/index.ts
  src/index.tsx
  src/modules/map/components/ScanButton.tsx
  src/modules/map/components/mobility/ShmoTesting.tsx
  src/modules/mobility/components/OperatorActionButton.tsx
  src/modules/mobility/components/ShmoActionButton.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

renamed from bottomsheet and removed v2
  src/components/PhotoCapture/ImageConfirmationBottomSheet.tsx
  src/components/bottom-sheet/BottomSheetContext.tsx
  src/components/bottom-sheet/BottomSheetHeader.tsx
  src/components/bottom-sheet/bottom-sheet-map/BottomSheetTopPositionBridge.tsx
  src/components/bottom-sheet/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/bottom-sheet/index.ts
  src/components/bottom-sheet/use-bottom-sheet-header-type.ts
  src/components/bottom-sheet/use-bottom-sheet-styles.ts
  src/components/date-selection/DatePickerSheet.tsx
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/index.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/modules/situations/SituationBottomSheet.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/EmojiSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use polylineEncoded gor geometry data
  package.json
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/fare-zones-selector/use-fare-zone-from-location.ts
  src/modules/map/geofencing-zone-utils.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-for-type.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/utils.ts
  src/utils/use-find-zone-in-location.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add export from index file
  src/modules/map/index.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: imports
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/fare-zones-selector/use-fare-zone-from-location.ts
  src/modules/purchase-selection/utils.ts
  src/utils/use-find-zone-in-location.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update location for decode function
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/fare-zones-selector/use-fare-zone-from-location.ts
  src/modules/map/geofencing-zone-utils.ts
  src/modules/map/index.ts
  src/modules/purchase-selection/utils.ts
  src/utils/decode-polyline-geometry.ts
  src/utils/use-find-zone-in-location.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use polylineEncoded for geometry data (#5681)
  package.json
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/fare-zones-selector/use-fare-zone-from-location.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-for-type.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/utils.ts
  src/utils/decode-polyline-geometry.ts
  src/utils/use-find-zone-in-location.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

test: scroll length
  e2e/test/utils/app.helper.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

test: scroll length (#5682)
  e2e/test/utils/app.helper.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

feat: support deep-link to ticket purchase
  src/stacks-hierarchy/RootStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update purchase history to one page for all, also update info messages for fare contracts
  src/modules/fare-contracts/components/SentToMessageBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
  src/screen-components/ticket-history/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistorySelectionScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/TabNav_ProfileStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/translations/screens/FareContract.ts
  src/translations/screens/Profile.ts
  src/translations/screens/Ticketing.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: upgrade to React Native 0.83 and enable New Architecture
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  babel.config.js
  ios/AtbAppIntent/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Info.plist
  ios/departureWidget/Info.plist
  package.json
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/toggle/Toggle.tsx
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  tsconfig.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: handle new typescript warnings and colorScheme 'unspecified'
  src/modules/preferences/PreferencesContext.tsx
  src/modules/preferences/types.ts
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/theme/ThemeContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

build: remove manual linking of token libs
  android/settings.gradle
Owners: @rosvik, @reidzeibel

fix: remove double bang
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump to version 1.79
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: bump to version 1.79 (#5685)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
