Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

fix: add MAX_RECURSION_DEPTH to renderMarkdown
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bold and ally label bonus on ticket (#5642)
  src/components/sections/items/LinkSectionItem.tsx
  src/components/text/markdown-renderer.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

moved erromessage to the top
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Validity time text left alignment
  src/modules/fare-contracts/components/ValidityTime.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Also product name
  src/modules/fare-contracts/components/ProductName.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Validity time text left alignment (#5644)
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/ValidityTime.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: navigation button and BonusInfoSectionItem
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Rename getRealtimeDepartures to getDeparturesRealtime
  src/api/bff/departures.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Rename updateDeparturesWithRealtimeV2 to getDeparturesAugmentedWithRealtimeData
  src/departure-list/utils.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Create use-departures-realtime-query.ts
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Skip refetchInterval for departures query
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: flexible transport booking details sheet (#5630)
  src/modules/situations/SituationBottomSheet.tsx
  src/modules/situations/SituationMessageBox.tsx
  src/modules/situations/SituationSectionItem.tsx
  src/modules/situations/use-situation-bottom-sheet.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Create use-departures and use it in StopPlacesSheetView
  src/api/bff/departures.ts
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Move removeQueries for realtime inside useDeparturesQuery
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use same quayIds for realtime as in departures
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Animate next change
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Move lineIds
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Skip removeQueries
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use useDeparturesData in StopPlacesView
  src/screen-components/place-screen/PlaceScreenComponent.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use useDeparturesData in QuayView
  src/screen-components/place-screen/components/QuayView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Support favorites
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use departuresData as input for realtime
  src/api/bff/departures.ts
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Delete use-departures-data
  src/api/client.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/place-screen/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Only augment data if realtime is more recent
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed a11y for travelSearchFilter
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchPreference.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for SelelectPaymentMethodSheet (#5625)
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added sectionProps for section item
  src/modules/situations/SituationSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update travel aid texts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
  src/translations/screens/subscreens/TravelAid.ts
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: new bottomsheet for SituationBottomSheet (#5628)
  src/modules/situations/SituationSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update travel aid texts (#5648)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
  src/translations/screens/subscreens/TravelAid.ts
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update travel aid texts (#5648)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
  src/translations/screens/subscreens/TravelAid.ts
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: set travel aid text with and without feature toggle
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Validity time text left alignment (#5644)
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/ValidityTime.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bonus on ticket a11y plural
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: set travel aid text with and without feature toggle (#5649)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: set travel aid text with and without feature toggle (#5649)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/translations/screens/subscreens/TravelAidSettingsTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: fixed a11y for travelSearchFilter (#5647)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchPreference.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bonus on ticket a11y plural (#5650)
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: changes to bonus page in profile (#5629)
  src/modules/bonus/components/UserBonusBalanceContent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/translations/screens/Profile.ts
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

feat: 0kr ticket now works. Waiting for update to reserve
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/use-reserve-offer-mutation.ts
  src/translations/screens/subscreens/PurchaseConfirmation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
