Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

bump config-specs to fix parse issue
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Feedback from PR
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/get-baggage-products.ts
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Move CompactFareContracts out of stacks-hiearchy
  src/modules/fare-contracts/CompactFareContracts.tsx
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add comment explaining removal of setLocation
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: clean up location handling in NearbyStopPlaces (#5590)
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add bike ticket visualization (#5587)
  package.json
  src/api/client.ts
  src/api/index.ts
  src/modules/auth/AuthContext.tsx
  src/modules/auth/index.ts
  src/modules/configuration/index.ts
  src/modules/configuration/utils.ts
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/CompactFareContracts.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/get-baggage-products.ts
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/types.ts
  src/modules/fare-contracts/utils.ts
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-get-supplement-products-query.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/utils/array-map-unique-with-count.ts
  src/utils/only-uniques.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat: add shmo booking stream event handling
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add bike ticket purchase flow
  src/components/sections/items/CounterSectionItem.tsx
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/configuration/converters.ts
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-from-selection.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-product.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/index.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/modules/purchase-selection/types.ts
  src/modules/purchase-selection/use-selectable-supplement-products.ts
  src/modules/purchase-selection/utils.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/SingleTravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-supplement-product-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-user-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: typo
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove acceptLanguage parameter from event stream handling and query key functions
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove unused code
  src/modules/fare-contracts/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

move to use product api for supplement products
  patches/@atb-as+utils+5.1.1.patch
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/configuration/converters.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/use-selectable-supplement-products.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: make recent purchase navigation slide from right
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: make recent purchase navigation slide from right (#5593)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added two new bottomsheets to parkingViolationsQrScreen
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update NearbyStopPlacesScreen subscreen headers
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add bookingId to ShmoBookingUpdate event and update query handling
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/mobility/queries/use-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update hooks to support dynamic refetch intervals
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
  src/modules/mobility/queries/use-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update token toggle screen headers
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelTokenScreen/Profile_TravelTokenScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update header for ticket summary
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change token toggle header button to 'cancel'
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: feedback and create standard getIconZoomTransitionStyle function
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/geofencing-zone-utils.ts
  src/modules/map/hooks/use-map-symbol-styles.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

made it work
  patches/@atb-as+config-specs+8.4.1.patch
  src/modules/purchase-selection/__tests__/purchase-selection-builder-from-selection.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-product.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/index.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/modules/purchase-selection/types.ts
  src/modules/purchase-selection/use-selectable-baggage-products.ts
  src/modules/purchase-selection/utils.ts
  src/modules/ticketing/api.ts
  src/modules/ticketing/types.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-baggage-product-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove console.log
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: prevent screen sleep in travel aid
  ios/Podfile.lock
  package.json
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

construct own baggage type to narrow down possible values
  src/modules/configuration/index.ts
  src/modules/configuration/types.ts
  src/modules/fare-contracts/get-baggage-products.ts
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-from-selection.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-product.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/modules/purchase-selection/types.ts
  src/modules/purchase-selection/use-selectable-baggage-products.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-baggage-product-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

do not make bike ticket default selection in test
  src/modules/purchase-selection/__tests__/test-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add a11yLiveRegion to no realtime error
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

add assumption that baggage offers has no fareProduct set, and only 1 supplement product
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/fare-contracts/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: textAlignVertically top on multiline text inputs
  src/components/sections/items/TextInputSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add travel aid onboarding screen
  src/modules/onboarding/OnboardingContext.tsx
  src/modules/onboarding/onboarding-config.ts
  src/modules/onboarding/types.ts
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
  src/screen-components/travel-aid/components/StopSignalButton.tsx
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
  src/translations/index.ts
  src/translations/screens/subscreens/TravelAid.ts
Owners: @marius-at-atb, @rosvik, @strandlie

hack
  src/modules/fare-contracts/index.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/use-selectable-baggage-products.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-baggage-product-count-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: feedback
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/geofencing-zone-utils.ts
  src/modules/map/hooks/use-map-symbol-styles.ts
  src/modules/map/index.ts
  src/modules/mobility/queries/use-geofencing-zones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

patch to allow nullable fareProduct on offer
  patches/@atb-as+utils+5.1.1.patch
Owners: @marius-at-atb, @rosvik, @strandlie

Complete onboarding section when closing carousel
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Move to Zod type for BaggageProduct
  src/modules/configuration/index.ts
  src/modules/configuration/types.ts
  src/modules/fare-contracts/get-baggage-products.ts
  src/modules/purchase-selection/use-selectable-baggage-products.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

No longer require comingFromOnboardingSectionId for closeOnboardingCarousel
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Complete onboarding section when closing carousel (#5600)
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
