Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: update location search content background color
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/JourneyHistory.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove unused codes
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/JourneyHistory.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add fetch firebase UDID fastlane command
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

fix: Remove navigationInChildEnabled and rewrite dynamic navigation callbacks to be statically typed when searching (#5689)
  .eslintrc.js
  eslint-rules/index.js
  eslint-rules/no-any-navigation-params.js
  src/components/journey-legs-summary/LegsSummary.tsx
  src/modules/remote-config/RemoteConfigContext.tsx
  src/screen-components/force-update-screen/ForceUpdateScreen.tsx
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/Root_AddEditFavoritePlaceScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByMapScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/Root_LocationSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/index.ts
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change ParkingViolations oops message
  src/translations/screens/ParkingViolations.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change FareContract oops message
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change Profile oops message
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: remove oops message in app (#5692)
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsSelectScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NotificationsScreen.tsx
  src/translations/components/PhoneInput.ts
  src/translations/screens/FareContract.ts
  src/translations/screens/ParkingViolations.ts
  src/translations/screens/Profile.ts
  src/translations/screens/TripSearch.ts
  src/translations/screens/subscreens/AnonymousPurchases.ts
  src/translations/screens/subscreens/DepartureDetails.ts
  src/translations/screens/subscreens/FareZoneSearch.ts
  src/translations/screens/subscreens/FavoriteList.ts
  src/translations/screens/subscreens/HarborSearch.ts
  src/translations/screens/subscreens/LocationSearch.ts
  src/translations/screens/subscreens/Login.ts
  src/translations/screens/subscreens/PaymentVipps.ts
  src/translations/screens/subscreens/PurchaseConfirmation.ts
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

revert hardcoded weight change and use typography instead
  src/components/button/Button.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

wip: poc
  ios/ChangeAppearance/RCTChangeAppearance.h
  ios/ChangeAppearance/RCTChangeAppearance.mm
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  package.json
  src/specs/NativeChangeAppearance.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_AppearanceScreen.tsx
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

wip: change appearance (breaking)
  ios/ChangeAppearance/RCTChangeAppearance.mm
  ios/atb.xcodeproj/project.pbxproj
  package.json
  src/specs/NativeChangeAppearance.ts
  src/theme/ThemeContext.tsx
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Added working overrides in-memory. Still remains to persist, and apply to requests, and add headers
  src/modules/debug/DebugServerOverrides.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix margin
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/JourneyHistory.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

formatting
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/JourneyHistory.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update location search content background color (#5694)
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/JourneyHistory.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update back button styling (#5693)
  src/components/button/Button.tsx
  src/modules/map/components/BackArrow.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add RCTScrollViewComponentView patch
  patches/react-native+0.83.0.patch
Owners: @marius-at-atb, @rosvik, @strandlie

build: remove manual linking of token libs
  android/settings.gradle
Owners: @rosvik, @reidzeibel

feat: upgrade to React Native 0.83 and enable New Architecture
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  babel.config.js
  ios/AtbAppIntent/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Info.plist
  ios/departureWidget/Info.plist
  package.json
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/toggle/Toggle.tsx
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  tsconfig.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Update react-native patch with better solution
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/gradle.properties
  babel.config.js
  package.json
  patches/react-native+0.83.0.patch
  patches/react-native+0.83.1.patch
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: handle new typescript warnings and colorScheme 'unspecified'
  src/modules/preferences/PreferencesContext.tsx
  src/modules/preferences/types.ts
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/theme/ThemeContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Initialize Intercom correctly
  .gitattributes
  ios/AppDelegate.swift
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Intercom.plist
  scripts/ios/override-config-files.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

refactor: Set App Group Name natively instead of through JS
  ios/AppDelegate.swift
  ios/atb/Info.plist
  patches/@react-native-async-storage+async-storage+2.2.0.patch
  src/modules/storage/StorageModel.tsx
  src/setup.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Update to newer dependencies
  ios/Podfile.lock
  package.json
  patches/react-native-date-picker+5.0.12.patch
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

nit
  src/modules/storage/StorageModel.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove unecessary awaits
  src/modules/beacons/BeaconsContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: upgrade firebase dependencies
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Upgrade bottom sheet dependency which has a bug in 0.83
  ios/atb.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: DatePicker-crash on new architecture
  ios/Podfile.lock
  package.json
  patches/react-native-date-picker+5.0.13.patch
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

Extract gfz as tiles to own component preparing feature flag
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/mobility/GeofencingZonesAsTiles.tsx
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Support gfz with feature toggle
  src/modules/map/Map.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/index.ts
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add newArchEnabled so Kettle builds
  android/gradle.properties
Owners: @rosvik, @reidzeibel

Revert "feat: Add workflow option to apply new arch to staging builds (#5445)"
  .github/workflows/build-staging-android.yml
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

chore: Remove docs and patch for new architecture
  docs/architecture/React-Native-New-Architecture-Upgrade.md
  docs/architecture/new-architecture.patch
Owners: @marius-at-atb, @rosvik, @strandlie

chore: upgrade firebase dependencies (#5696)
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: update text for "Reise" main screen
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update text for "Reise" main screen (#5697)
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Reset TravellerCount state after sheet dismiss
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheetContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: update android workflow to clear disk space before build
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @rosvik, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
