Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie, @hanne-at-atb, @reidzeibel, @tormoseng

Post-merge fixes
  src/components/map/hooks/use-map-symbol-styles.ts
  src/components/map/hooks/use-mapbox-json-style.tsx
  src/components/map/hooks/useNsrSymbolLayers.ts
  src/mobility/utils.ts
Owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie, @reidzeibel

Re-add mapbox env vars after merge
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
Owners: @gorandalum, @jorelosorio, @reidzeibel

Update Profile_PaymentMethodsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
Owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie

chore: Change close function name for In app browser
  src/in-app-browser/in-app-browser.tsx
  src/in-app-browser/index.ts
  src/stacks-hierarchy/Root_LoginOptionsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
Owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie

Test-staging
  src/components/map/components/mobility/VehiclesAndStations.tsx
  src/components/map/hooks/use-mapbox-json-style.tsx
Owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie

refactor: Cleaner configuration of empty state in fare contract list (#4986)
  src/components/empty-state/index.tsx
  src/fare-contracts/FareContractAndReservationsList.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/ticket-history/TicketHistoryScreenComponent.tsx
Owners: @gorandalum, @marius-at-atb, @jorelosorio, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @gorandalum @marius-at-atb @jorelosorio @rosvik @strandlie

# Mobile token (App, Webshop, Token-server)
/src/mobile-token/ @gorandalum @jorelosorio @hanne-at-atb

# Mobility (App, BFF)
/src/mobility/ @gorandalum @marius-at-atb @reidzeibel

# Builds (GH Actions, App Store, Play Store, Firebase App Distribution)
/.github/workflows/ @gorandalum @jorelosorio @reidzeibel
/env/ @gorandalum @jorelosorio @reidzeibel
/fastlane/ @gorandalum @jorelosorio @reidzeibel
/scripts/ @gorandalum @jorelosorio @reidzeibel
/tools/ @gorandalum @jorelosorio @reidzeibel

# Firebase (Firestore, RemoteConfig, Configs, Typings)
/src/configuration/ @gorandalum @reidzeibel @jorelosorio

# Tests
/e2e/ @gorandalum @marius-at-atb @jorelosorio @rosvik @tormoseng

# Native code
/android/ @gorandalum @reidzeibel @jorelosorio
/ios/ @gorandalum @jorelosorio @reidzeibel
