Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

typo
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Re-added refetch since it was still used
  src/modules/harbors/use-harbors.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add new spar illustrations
  package.json
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/theme/ThemedAssets.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove unused imports
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.jar
Owners: @rosvik, @reidzeibel

fixed styling for scootersheet and active linebar
  src/modules/mobility/components/ShmoTripCard.tsx
  src/modules/mobility/components/VehicleCard.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade to react-reanimated v4
  babel.config.js
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

Revert "tmp"
  .rnstorybook/storybook.requires.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update announcements styling (#5426)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add cancel button to consume and activate fc bottom sheet
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add new illustrations for Smart Park and Ride (#5429)
  package.json
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/theme/ThemedAssets.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: move ActivateNowSectionItem below details in FareContractView
  src/modules/fare-contracts/FareContractView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add interactive color to activate now button
  src/modules/fare-contracts/components/ActivateNowSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update texts
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade react-native-screens
  .rnstorybook/storybook.requires.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: Upgrade to React Native 0.79
  Gemfile
  Gemfile.lock
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  ios/AppDelegate.swift
  ios/BridgeModules/ChangeNativeBridge.m
  ios/BridgeModules/KettleSDKExtension.m
  ios/Mintfile
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/AppDelegate.h
  ios/atb/AppDelegate.mm
  ios/atb/AppDelegate.swift
  ios/atb/AtBRootView.h
  ios/atb/AtBRootView.m
  ios/atb/main.m
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: Upgrade to react-navigation v7
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  src/modules/diagnostics/trackNavigation.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade react-native-safe-area-context
  ios/Podfile.lock
  package.json
  src/stacks-hierarchy/RootStack.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Upgrade to new architecture, BUG HERE
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: enable compact travel details map for screen reader users
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Downgrade to old again, bug gone
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

removed map, cleaned up state management and optimized the reducer
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/map/hooks/use-active-shmo-booking.tsx
  src/modules/map/hooks/use-auto-select-map-item.tsx
  src/modules/map/hooks/use-map-bottom-sheets.tsx
  src/modules/map/hooks/use-map-selection-change-effect.tsx
  src/modules/map/hooks/use-update-bottom-sheet-when-selected-entity-changes.tsx
  src/modules/map/index.ts
  src/modules/map/mapStateReducer.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/TabNav_MapStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Refactored use-harbors to separate between harbors and connections
  src/modules/harbors/use-harbors.tsx
  src/queries/use-connections-query.ts
  src/queries/use-harbors-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Refactored RecentFareContract to use the new useHarborsQuery
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update appearance settings page
  src/components/text/ThemeText.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_AppearanceScreen.tsx
  src/theme/ThemeContext.tsx
  src/translations/screens/subscreens/AppearanceSettings.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add cancel button to consume and activate fc bottom sheet (#5431)
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ActivateNowSectionItem.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused code and fixed stopoPlaces bottomsheet height bug
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: enable compact travel details map for screen reader users (#5432)
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Turn off overflow: visible on ParallaxScroll on iOS
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Revert to old architecture
  android/gradle.properties
  babel.config.js
  ios/AtbAppIntent/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/atb/Info.plist
  ios/departureWidget/Info.plist
  package.json
  patches/@react-native-async-storage+async-storage+1.19.8.patch
  patches/react-native-date-picker+5.0.12.patch
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

nit
  src/modules/beacons/BeaconsContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Add document outlining how to upgrade to new architecture
  docs/architecture/React-Native-New-Architecture-Upgrade.md
  docs/architecture/new-architecture.patch
Owners: @marius-at-atb, @rosvik, @strandlie

docs: Removed first person from comments
  src/modules/harbors/use-harbors.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Harbors overrides not working (#5430)
  src/modules/harbors/use-harbors.tsx
  src/queries/use-connections-query.ts
  src/queries/use-harbors-query.ts
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore(troms): update ios devices
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore(troms): update ios devices (#5434)
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: Set explicit size for Switch
  src/components/toggle/Toggle.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Add removal of fixedDimensions in patch
  docs/architecture/new-architecture.patch
Owners: @marius-at-atb, @rosvik, @strandlie

fix: There can only be one... KOTLIN_VERSION
  android/build.gradle
  android/gradle.properties
Owners: @rosvik, @reidzeibel

Update src/translations/screens/subscreens/AppearanceSettings.ts
  src/translations/screens/subscreens/AppearanceSettings.ts
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
