Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

fix: fetch server time even when traveling back in time (#5397)
  src/api/identity.ts
  src/modules/time/TimeContext.tsx
  src/modules/time/index.ts
  src/modules/time/use-server-time-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

revert: use products api instead of firestore (#5352)
  src/components/screen-header/use-ticket-info.tsx
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/FareContractDescription.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/notifications/use-has-fare-contract-with-activated-notification.tsx
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-fare-products-query.tsx
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByAlias.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-product-alternatives.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/utils/durations.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: bump config-specs to v7.2.0
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): show warning when unauthenticated (#5394)
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: log all PressableOpacity onPress events to posthog
  src/components/pressable-opacity/PressableOpacity.tsx
  src/modules/analytics/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update StartTimeSelection testID
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/StartTimeSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

style: restrict imports of TouchableOpacity
  .eslintrc.js
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use PressableOpacity for checkbox
  src/components/checkbox/CheckboxWithLabel.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: replace remaining touchable opacities
  src/components/camera/CaptureButton.tsx
  src/components/snackbar/Snackbar.tsx
  src/departure-list/section-items/line.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/components/SelectGroup.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/components/ClickableCopy.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: update use-focus-ref to use PressableOpacity
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/HarborSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ZonesSelection.tsx
  src/utils/use-focus-refs.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use PressableOpacity for BottomSheetHeader
  src/components/bottom-sheet/BottomSheetHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: validate and transform fare products with zod (#5402)
  package.json
  src/modules/configuration/index.ts
  src/modules/ticketing/api.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat: log all PressableOpacity onPress events to posthog (#5403)
  src/components/pressable-opacity/PressableOpacity.tsx
  src/modules/analytics/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/StartTimeSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add hasValidFareContract variable for Announcements
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: hide GenericSectionItem when no phone number
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add hasValidFareContract variable for Announcements (#5405)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

style: restrict imports of TouchableOpacity
  .eslintrc.js
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use empty string instead of undefined in ToggleSectionItem label
  src/components/sections/items/ToggleSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add ToggleSectionItem subtext to a11yLabel
  src/components/sections/items/ToggleSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: improve a11y of markdown content
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: extract travel aid toggle to separate section item
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: refresh mobile token on window focus always
  src/modules/mobile-token/hooks/use-get-signed-token-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: refresh mobile token on window focus always (#5406)
  src/modules/mobile-token/hooks/use-get-signed-token-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade react-navigation to v7
  ios/Podfile.lock
  package.json
  scripts/generate-native-assets.sh
  src/modules/analytics/AnalyticsContext.tsx
  src/modules/diagnostics/trackNavigation.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
  src/utils/transition-spec.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

nit
  src/modules/diagnostics/trackNavigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

updated posthog analytics for map
  src/modules/map/hooks/use-map-selection-analytics.tsx
  src/modules/map/index.ts
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: updated posthog analytics for map (#5409)
  src/modules/map/hooks/use-map-selection-analytics.tsx
  src/modules/map/index.ts
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add moved changes after merge
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update spar shouldShowPredicate and merge fix
  src/modules/onboarding/OnboardingContext.tsx
  src/modules/onboarding/onboarding-config.ts
  src/modules/onboarding/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): remove authenticated requirement
  src/modules/smart-park-and-ride/queries/use-get-vehicle-registrations-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

draf WIP on new bottomsheet
  src/components/bottomsheet-new/BottomSheet.tsx
  src/components/bottomsheet-new/index.tsx
  src/index.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-auto-select-map-item.tsx
  src/modules/map/hooks/use-map-bottom-sheets.tsx
  src/modules/map/hooks/use-map-selection-change-effect.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/hooks/use-update-bottom-sheet-when-selected-entity-changes.tsx
  src/modules/mobility/components/ShmoActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreenV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): remove authenticated requirement (#5410)
  src/modules/smart-park-and-ride/queries/use-get-vehicle-registrations-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Update imports
  src/modules/bonus/enrollment/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/enrollment/BonusOnboarding_Download.tsx
  src/modules/bonus/enrollment/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/enrollment/BonusOnboarding_WelcomeScreen.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl

Update map dark style
  src/modules/map/mapbox-styles/mapbox-dark-style.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Clarify map style readme
  src/modules/map/mapbox-styles/README.md
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Update map dark style (#5412)
  src/modules/map/mapbox-styles/README.md
  src/modules/map/mapbox-styles/mapbox-dark-style.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Add safeAreaTop padding to hideHeaderContainer
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use existing onboarding for SPAR (#5408)
  src/modules/bonus/enrollment/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/enrollment/BonusOnboarding_Download.tsx
  src/modules/bonus/enrollment/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/enrollment/BonusOnboarding_WelcomeScreen.tsx
  src/modules/diagnostics/trackNavigation.ts
  src/modules/enrollment-onboarding/EnrollmentOnboardingContext.tsx
  src/modules/enrollment-onboarding/enrollment-onboarding-config.ts
  src/modules/enrollment-onboarding/index.ts
  src/modules/enrollment-onboarding/types.ts
  src/modules/enrollment-onboarding/use-navigate-to-next-onboarding-screen.ts
  src/modules/onboarding/OnboardingContext.tsx
  src/modules/onboarding/onboarding-config.ts
  src/modules/onboarding/types.ts
  src/modules/onboarding/use-onboarding-navigation.ts
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_AddScreen.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/config.ts
  src/modules/smart-park-and-ride/enrollment/index.ts
  src/modules/smart-park-and-ride/index.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboardingContext.tsx
  src/modules/smart-park-and-ride/onboarding/utils.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/screen-components/smart-park-and-ride/index.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_EntrollmentOnboradingStack/Root_EnrollmentOnboardingStack.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/navigation-types.ts
  src/stacks-hierarchy/Root_SmartParkAndRide/onboarding/Root_SmartParkAndRideOnboardingStack.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/onboarding/index.ts
  src/stacks-hierarchy/Root_SmartParkAndRide/onboarding/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
  src/utils/navigation.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

chore: Upgrade react-navigation to v7
  ios/Podfile.lock
  package.json
  scripts/generate-native-assets.sh
  src/modules/analytics/AnalyticsContext.tsx
  src/modules/diagnostics/trackNavigation.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
  src/utils/transition-spec.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Add negative margins to workaround early text breaking
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
