Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

refactor: extract cleanup script to its separate action
  .github/actions/android-build-cleanup-runner/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: update android workflow to clear disk space before build (#5699)
  .github/actions/android-build-cleanup-runner/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: Reset TravellerCount state after sheet dismiss (#5698)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheetContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: checkout first before running cleanup script
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @rosvik, @reidzeibel

chore: checkout first before running cleanup script (#5700)
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @rosvik, @reidzeibel

chore: remove stray cleanup
  .github/actions/android-build-cleanup-runner/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: remove stray cleanup (#5701)
  .github/actions/android-build-cleanup-runner/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: remove unnecessary cleanup script
  .github/actions/android-build-cleanup-runner/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

fix: clean up so we only have 1 isProductSellableInApp function
  src/modules/purchase-selection/index.ts
  src/modules/purchase-selection/utils.ts
  src/stacks-hierarchy/RootStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add stream service info to profile and Intercom
  src/modules/chat/use-intercom-metadata.ts
  src/modules/feature-toggles/FeatureTogglesContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/translations/screens/Profile.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Upgrade to React Native 0.83 and enable New Architecture (#5695)
  .gitattributes
  .github/workflows/build-staging-android.yml
  .github/workflows/build-staging-ios.yml
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  babel.config.js
  docs/architecture/React-Native-New-Architecture-Upgrade.md
  docs/architecture/new-architecture.patch
  ios/AppDelegate.swift
  ios/AtbAppIntent/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Info.plist
  ios/atb/Intercom.plist
  ios/departureWidget/Info.plist
  package.json
  patches/@react-native-async-storage+async-storage+2.2.0.patch
  patches/react-native+0.83.1.patch
  patches/react-native-date-picker+5.0.13.patch
  scripts/ios/override-config-files.sh
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/toggle/Toggle.tsx
  src/modules/beacons/BeaconsContext.tsx
  src/modules/beacons/permissions.ts
  src/modules/preferences/PreferencesContext.tsx
  src/modules/preferences/types.ts
  src/modules/storage/StorageModel.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/setup.ts
  src/theme/ThemeContext.tsx
  tsconfig.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: move isProductSellableInApp to utils
  src/modules/configuration/index.ts
  src/modules/configuration/utils.ts
  src/modules/purchase-selection/utils.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByAlias.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/FareProducts/FareProducts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/utils/is-product-sellable-in-app.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: remove unnecessary cleanup script
  .github/actions/android-build-cleanup-runner/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

chore: debug disk usage
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: Travel from/to Map to TripSearch screen
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove two more redundant navigation types
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

try using ubuntu-slim
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

disable docker ubuntu slim
  .github/actions/android-build-cleanup-runner/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

add install yarn script
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix yarn install script
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

add export path
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

use npm to install yarn
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

change brew to sudo
  scripts/android/override-config-files.sh
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

update config file
  scripts/android/override-config-files.sh
Owners: @rosvik, @reidzeibel

fix: Travel from/to Map to TripSearch screen (#5703)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Do not throw error for ChangeNativeBridge on Android
  src/modules/native-bridges/change-native.ts
Owners: @marius-at-atb, @rosvik, @strandlie

try using sed instead of xmlstarlet
  scripts/android/override-config-files.sh
Owners: @rosvik, @reidzeibel

Revert "try using sed instead of xmlstarlet"
  scripts/android/override-config-files.sh
Owners: @rosvik, @reidzeibel

Revert "update config file"
  scripts/android/override-config-files.sh
Owners: @rosvik, @reidzeibel

Revert "change brew to sudo"
  scripts/android/override-config-files.sh
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

Revert "use npm to install yarn"
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

Revert "add export path"
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

Revert "fix yarn install script"
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

Revert "add install yarn script"
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

Revert "disable docker ubuntu slim"
  .github/actions/android-build-cleanup-runner/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

use ubuntu latest
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: Do not throw error for ChangeNativeBridge on Android (#5704)
  src/modules/native-bridges/change-native.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Bump react-navigation to fix Android New Architecture jankiness
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Bump react-navigation to fix Android New Architecture jankiness (#5705)
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: create release automation script
  release.sh
  tools/release/release-draft.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
