Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

comment out some dangerous script and auto publish
  release.sh
Owners: @marius-at-atb, @rosvik, @strandlie

grep app version instead version name
  release.sh
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.80 and register at Entur
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

uncomment test
  release.sh
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove random close button + add react-navigation logger
  package.json
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Re-enable go back from map to choose other location
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

simplify script and add it to yarn
  package.json
  release.sh
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Re-enable go back from map to choose other location (#5709)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove random close button + add react-navigation logger (#5708)
  package.json
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Upgrade react-native-linear-gradient to beta which supports new arch
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: add Apple Pay payment handler
  ios/PaymentHandler/RCTPaymentHandler.h
  ios/PaymentHandler/RCTPaymentHandler.mm
  ios/PaymentHandler/RCTPaymentHandler.swift
  ios/atb.xcodeproj/project.pbxproj
  package.json
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/modules/payment/index.ts
  src/modules/payment/types.ts
  src/modules/ticketing/types.ts
  src/modules/ticketing/utils.ts
  src/specs/NativePaymentHandler.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

refactor: use use-favorite-departures-query for departure data
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

formatting
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: refactor recent fare contracts to use tanstack query
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Create ValidityLine without using Linear Gradient
  package.json
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

update based on feedback
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departures-query.ts
  src/utils/get-departure-refetch-interval.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

more simplification/refactoring
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use use-favorite-departures-query for departure data (#5711)
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departures-query.ts
  src/utils/get-departure-refetch-interval.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: refactor activate now direct call to use-activate-fare-contract-now-mutation
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-activate-fare-contract-now-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use mapbox shapesource for live vehicle marker
  src/components/icon-box/index.ts
  src/components/icon-box/utils.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/DirectionArrow.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

simplify mutationfn
  src/modules/ticketing/use-activate-fare-contract-now-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Set volatile false for vehiclesAndStations source
  src/modules/map/components/mobility/VehiclesAndStations.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Update animation bar to use reanimated
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: new device seb
  env/atb/ios-devices.txt
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: new device seb (#5715)
  env/atb/ios-devices.txt
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: Reset TravellerCount state after sheet dismiss (#5698)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheetContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

tmp: add test button on profile
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: ValidityLine without LinearGradient and using Reanimated instead (#5712)
  package.json
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

adds test for isProductSellableInApp
  src/utils/__tests__/is-product-sellable-in-app.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use toggleable feature flag
  src/modules/feature-toggles/toggle-specifications.ts
  src/modules/map/Map.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: deeplink to ticket purchase (#5691)
  src/modules/configuration/index.ts
  src/modules/configuration/utils.ts
  src/modules/purchase-selection/utils.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByAlias.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/FareProducts/FareProducts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/utils/__tests__/is-product-sellable-in-app.test.ts
  src/utils/is-product-sellable-in-app.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: add scooter transport mode sprite option
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Added header override component
  src/modules/debug/AddHeaderOverride.tsx
  src/modules/debug/DebugServerOverrides.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.78.1
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

update text
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/translations/screens/subscreens/DepartureDetails.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added getOperators query and shmoFareContractHeaderName
  package.json
  src/api/mobility.ts
  src/api/types/mobility.ts
  src/api/utils.ts
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/queries/use-get-operators-query.tsx
  src/translations/screens/subscreens/MobilityTexts.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

removed whitespace
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed formatting errors
  src/api/mobility.ts
  src/api/utils.ts
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie
