Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

fix: changed some links to use external browser (#5617)
  src/screen-components/error-boundary/FullScreenErrorView.tsx
  src/screen-components/loading-screen/LoadingErrorScreen.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add new ticket visualization (#5616)
  src/components/icon-box/utils.ts
  src/modules/fare-contracts/components/FareContractDetailItem.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/fare-contracts/components/FromToBox.tsx
  src/modules/fare-contracts/components/HarborsFromTo.tsx
  src/modules/fare-contracts/components/SchoolFromTo.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/fare-contracts/components/ZonesFromTo.tsx
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/utils.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/utils/phone-number-utils.ts
  src/utils/text.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Show recent ticket with bikes (not standalone)
  src/modules/fare-contracts/index.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/recent-fare-contracts/types.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Show recent ticket with bikes (not standalone) (#5618)
  src/modules/fare-contracts/index.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/recent-fare-contracts/types.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Extract offer price calculation with tests
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/__tests__/offer-price-calculator.test.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/offer-price-calculator.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Ticket description left alignment
  src/modules/fare-contracts/components/FareContractDescription.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

verify differ in original and discounted price
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/__tests__/offer-price-calculator.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

more realistic prices
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/__tests__/offer-price-calculator.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

move test data at bottom for readability
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/__tests__/offer-price-calculator.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: testId for token screen
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/utils/navigation.helper.ts
  src/components/screen-view/FullScreenView.tsx
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

test: testId for token screen (#5621)
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/utils/navigation.helper.ts
  src/components/screen-view/FullScreenView.tsx
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

added new bottomsheet for BarcodeBottomSheets
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: remove some unused code
  src/components/status-bar-on-focus/StatusBarOnFocus.tsx
  src/components/status-bar-on-focus/index.ts
  src/modules/fare-contracts/components/FareContractStatusSymbol.tsx
  src/modules/map/components/mobility/Bicycles.tsx
  src/modules/map/components/mobility/Scooters.tsx
  src/modules/map/components/mobility/ShmoTesting.tsx
  src/modules/mobility/components/CarName.tsx
  src/modules/mobility/components/IconText.tsx
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SectionHeading.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
  src/utils/__tests__/is-element-fully-inside-screen.test.ts
  src/utils/is-element-fully-inside-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Ticket description left alignment (#5620)
  src/modules/fare-contracts/components/FareContractDescription.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove title on Traveller-selection when multiple
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed lint warnings
  src/screen-components/place-screen/components/EstimatedCallList.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for datepicker sheet (#5604)
  src/components/date-selection/DatePickerSheet.tsx
  src/components/date-selection/DateSelection.tsx
  src/index.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/StartTimeSelection.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/SelectProviderBottomSheet.tsx
  src/stacks-hierarchy/Root_ScooterHelp/bottom-sheets/VehicleLookupBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

moved bottomsheet out of the section to not break the pattern
  src/modules/fare-contracts/components/RefundSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

went back to old solution since it did not break section setup
  src/modules/fare-contracts/components/RefundSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Create and use useNearestStopPlaceNodesQuery
  src/api/bff/departures.ts
  src/api/types/generated/NearestStopPlacesQuery.ts
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for RefundBottomSheet (#5614)
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/components/RefundSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for ActivateNowBottomSheet (#5610)
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ActivateNowSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for ConsumeCarnetBottomSheet (#5611)
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for BarcodeBottomSheets (#5622)
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Extract offer price calculation with tests (#5619)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/__tests__/offer-price-calculator.test.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/offer-price-calculator.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Delete legacy useNearestStopsData
  src/api/bff/departures.ts
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for SelelectPaymentMethodSheet
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add Canada as a country
  src/components/sections/items/PhoneInputSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use stable location and move preprocess to queryfn
  src/api/bff/departures.ts
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/use-nearest-stop-place-nodes-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add Canada as a country (#5626)
  src/components/sections/items/PhoneInputSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

add
  src/modules/situations/SituationBottomSheet.tsx
  src/modules/situations/SituationMessageBox.tsx
  src/modules/situations/SituationSectionItem.tsx
  src/modules/situations/use-situation-bottom-sheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: changes to bonus page in profile
  src/modules/bonus/components/UserBonusBalanceContent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/translations/screens/Profile.ts
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

feat: add link to bonus from ticket (#5607)
  src/components/sections/items/LinkSectionItem.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DesignSystemScreen.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

Add console.logs
  src/modules/onboarding/OnboardingContext.tsx
  src/utils/use-complete-user-creation-onboarding-and-enter-app.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unnecessary useEffect with exhaustive-deps exception
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unexpected navigation
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Fix eslint exhaustive-deps exception
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for FlexibleTRansportBookingDetailsSheet
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: useNavigateToNestedProfileScreen navigates correctly
  src/utils/use-navigate-to-nested-profile-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: useNavigateToNestedProfileScreen navigates correctly (#5631)
  src/utils/use-navigate-to-nested-profile-screen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
