Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

update live pricing when reconnecting or losing to gaining focus
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update live pricing when reconnecting or losing to gaining focus (#5478)
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactored some code for stop places
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
  src/screen-components/place-screen/components/StopPlacesError.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: MapBottomSheet improvements and bigfixes (#5476)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/BrandingImage.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/modules/mobility/utils.ts
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesError.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
  src/screen-components/place-screen/index.tsx
  src/screen-components/place-screen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: set always dark mode on camera screen
  src/components/PhotoCapture/PhotoCapture.tsx
  src/components/PhotoCapture/ScreenContainer.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update e-scooter photo texts to be the same
  src/translations/screens/ParkingViolations.ts
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: fix some calculations after tests (#5477)
  .github/workflows/test-performance-android.yml
  e2e/performance/createPerformanceSummary.ts
  e2e/scripts/run-flashlight-tests.sh
Owners: @rosvik, @reidzeibel, @tormoseng, @hanne-at-atb

fix: remove internal `MOBILE_TOKEN_LIBRARY_VERSION` check
  src/modules/mobile-token/hooks/use-validate-token.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove internal `MOBILE_TOKEN_LIBRARY_VERSION` check (#5480)
  src/modules/mobile-token/hooks/use-validate-token.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Don't use debounce, instead compute significant updates
  src/modules/geolocation/GeolocationContext.tsx
  src/modules/geolocation/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/geolocation/GeolocationContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Make stableLocation a state value
  src/modules/geolocation/GeolocationContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add rule variables for zones in Announcements (#5464)
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/geolocation/GeolocationContext.tsx
  src/modules/geolocation/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/CityZoneMessage.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/hooks.ts
  src/utils/use-find-zone-in-location.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Add own action button for bottom sheet
  src/modules/analytics/types.ts
  src/modules/announcements/index.ts
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove hideSubtext prop from RadioSectionItem
  src/components/sections/RadioGroupSection.tsx
  src/components/sections/items/CounterSectionItem.tsx
  src/components/sections/items/RadioSectionItem.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Rename action button name
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed gray screen and maxheight on dynamic sheets
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed gray screen and maxheight on dynamic sheets (#5482)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Refactor template for announcements
  src/modules/announcements/AnnouncementsContext.tsx
  src/modules/announcements/converters.ts
  src/modules/announcements/deprecated-types.ts
  src/modules/announcements/index.ts
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/translations/screens/Dashboard.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: always black border on camera screen (#5479)
  src/components/PhotoCapture/PhotoCapture.tsx
  src/components/PhotoCapture/ScreenContainer.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/translations/screens/ParkingViolations.ts
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

removed pull to refresh from bottomsheet stopplace view
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use accessibilityRole radio for RadioSectionItem
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused props
  src/screen-components/place-screen/components/MapStopPlacesListHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed maxheight and scrolling when dynamic content gets to large
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed maxheight and scrolling when dynamic content gets to large (#5485)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

move active + make config optional
  src/modules/announcements/AnnouncementsContext.tsx
  src/modules/announcements/converters.ts
  src/modules/announcements/types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added handling for dynamic content vs static content for nested scrolling
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

remove duplicate action types
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump patch and minor dependency versions
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump patch and minor dependency versions (#5486)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump non-breaking major release deps
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Downgrade patch-package, weird behaviour
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump non-breaking major release deps (#5487)
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade Intercom to latest
  ios/Podfile.lock
  package.json
  src/modules/chat/use-chat-unread-count.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Test macOS-15 runner instead
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

revert runner bump
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

feat: use a11yRole radio for RadioSectionItem (#5484)
  src/components/sections/RadioGroupSection.tsx
  src/components/sections/items/CounterSectionItem.tsx
  src/components/sections/items/RadioSectionItem.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: added handling for dynamic content vs static content for nested scrolling (#5489)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.75
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
