Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: update appearance settings page (#5433)
  src/components/text/ThemeText.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_AppearanceScreen.tsx
  src/theme/ThemeContext.tsx
  src/translations/screens/subscreens/AppearanceSettings.ts
Owners: @marius-at-atb, @rosvik, @strandlie

small improvements
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: announce radio button selection changes on android
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove react-native-portalize
  package.json
  src/stacks-hierarchy/RootStack.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Correct start screen text according to new naming
  src/translations/screens/subscreens/SelectStartScreen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Correct start screen text according to new naming (#5437)
  src/translations/screens/subscreens/SelectStartScreen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove react-native-portalize (#5436)
  package.json
  src/stacks-hierarchy/RootStack.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: get operator legal age from firestore
  src/api/identity.ts
  src/modules/mobility/components/ShmoActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/queries/use-get-age-verification-query.tsx
  src/modules/mobility/use-shmo-requirements.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update shmo onboarding screen
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.74
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump to version 1.74 (#5438)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix: small update to release doc
  docs/Release.md
Owners: @marius-at-atb, @rosvik, @strandlie

fix: small update to release doc (#5439)
  docs/Release.md
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed bottom navbar hiding some UI elements because of safeareainsets
  src/components/screen-footer/FullScreenFooter.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/stacks-hierarchy/Root_PurchaseHarborSearchScreen/Root_PurchaseHarborSearchScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add `--repo-update` to rebuild command
  README.md
Owners: @marius-at-atb, @rosvik, @strandlie

docs: add `--repo-update` to rebuild command (#5441)
  README.md
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump .node-version to 22
  .node-version
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump .node-version to 22 (#5442)
  .node-version
Owners: @marius-at-atb, @rosvik, @strandlie

fix: invalidate all 'get age verification' queries when user gives age
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/modules/mobility/queries/use-complete-age-verification-mutation.tsx
  src/modules/mobility/queries/use-get-age-verification-query.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change working from "start ticket" to "use ticket"
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore(troms): update icon colors
  env/troms/dev/icons/foreground.png
  env/troms/dev/icons/icon.png
  env/troms/dev/icons/icon.round.png
  env/troms/staging/icons/foreground.png
  env/troms/staging/icons/icon.png
  env/troms/staging/icons/icon.round.png
  env/troms/store/icons/foreground.png
  env/troms/store/icons/icon.png
  env/troms/store/icons/icon.round.png
Owners: @rosvik, @reidzeibel

chore(troms): update icon colors (#5444)
  env/troms/dev/icons/foreground.png
  env/troms/dev/icons/icon.png
  env/troms/dev/icons/icon.round.png
  env/troms/staging/icons/foreground.png
  env/troms/staging/icons/icon.png
  env/troms/staging/icons/icon.round.png
  env/troms/store/icons/foreground.png
  env/troms/store/icons/icon.png
  env/troms/store/icons/icon.round.png
Owners: @rosvik, @reidzeibel

chore(troms): update icon colors (#5444)
  env/troms/dev/icons/foreground.png
  env/troms/dev/icons/icon.png
  env/troms/dev/icons/icon.round.png
  env/troms/staging/icons/foreground.png
  env/troms/staging/icons/icon.png
  env/troms/staging/icons/icon.round.png
  env/troms/store/icons/foreground.png
  env/troms/store/icons/icon.png
  env/troms/store/icons/icon.round.png
Owners: @rosvik, @reidzeibel

feat: Add workflow option to apply new arch to staging builds
  .github/workflows/build-staging-android.yml
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

feat: change working from "start ticket" to "use ticket" (#5443)
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change working from "start ticket" to "use ticket" (#5443)
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: set legalAge to 0 if undefined on operator
  src/api/identity.ts
  src/modules/mobility/queries/use-get-age-verification-query.tsx
  src/modules/mobility/use-shmo-requirements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove unnecessary undefined check
  src/modules/mobility/components/ShmoActionButton.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add device to ios-devices.txt
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: add device to ios-devices.txt (#5447)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

feat: Add workflow option to apply new arch to staging builds (#5445)
  .github/workflows/build-staging-android.yml
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

chore(troms): update icon colors (#5444)
  env/troms/dev/icons/foreground.png
  env/troms/dev/icons/icon.png
  env/troms/dev/icons/icon.round.png
  env/troms/staging/icons/foreground.png
  env/troms/staging/icons/icon.png
  env/troms/staging/icons/icon.round.png
  env/troms/store/icons/foreground.png
  env/troms/store/icons/icon.png
  env/troms/store/icons/icon.round.png
Owners: @rosvik, @reidzeibel

build: add maven central as android dependency repository
  android/build.gradle
Owners: @rosvik, @reidzeibel

fix: comments
  src/modules/mobility/queries/use-complete-age-verification-mutation.tsx
  src/modules/mobility/use-shmo-requirements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: not send in undefined
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use legal age from firestore (#5446)
  src/modules/mobility/components/ShmoActionButton.tsx
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/queries/use-complete-age-verification-mutation.tsx
  src/modules/mobility/queries/use-get-age-verification-query.tsx
  src/modules/mobility/use-shmo-requirements.tsx
  src/stacks-hierarchy/Root_ShmoOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed bottom navbar hiding some UI elements because of safeareainsets (#5440)
  src/components/screen-footer/FullScreenFooter.tsx
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/stacks-hierarchy/Root_PurchaseHarborSearchScreen/Root_PurchaseHarborSearchScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: show on behalf of information in ticket details
  src/modules/fare-contracts/components/SentToMessageBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update sent ticket message text
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed comments from PR. Renaming, small fixes and fixed buttons above bottomsheet when its open
  package.json
  src/components/bottom-sheet-map/BottomSheetMap.tsx
  src/components/bottom-sheet-map/BottomSheetTopPositionBridge.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/components/ScanButton.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapButton.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/map/hooks/use-control-styles.ts
  src/modules/map/hooks/use-trigger-camera-move-effect.tsx
  src/modules/map/index.ts
  src/modules/map/mapStateReducer.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/ShmoActionButton.tsx
  src/modules/mobility/components/ShmoTripCard.tsx
  src/modules/mobility/components/filter/MapFilter.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
