Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

No need to export getDeparturesRealtimeQueryKey
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Rename belongsToDeparturesQueryKey -> belongsToQueryKey
  src/api/bff/departures.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fix stop button typo
  src/translations/screens/subscreens/TravelAid.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fix stop button typo (#5662)
  src/translations/screens/subscreens/TravelAid.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update checkout and setup node version
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix typo
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

feat: update replace-bundle script
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

fix: updated logging for free purchases
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Support 0kr ticket (#5660)
  src/modules/ticketing/api.ts
  src/modules/ticketing/types.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/use-cancel-payment-mutation.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/use-reserve-offer-mutation.ts
  src/translations/screens/subscreens/PurchaseConfirmation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added autosave for mapfilter (#5656)
  src/modules/mobility/components/filter/MapFilterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify a lot using only one query
  src/api/bff/departures.ts
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unnecessary param
  src/api/bff/departures.ts
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Nits
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Fix s -> ms
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Only migrate favs after getDepartures
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Rename departuresQuery to departuresRaw
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

RefetchInterval dataUpdatedAt simplification
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Filter immediately
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unused imports
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add gradle setup before fastlane build
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

feat: enable gradle caching and daemon from properties
  android/gradle.properties
Owners: @rosvik, @reidzeibel

feat: skip clean if no dependency changes
  .github/workflows/build-staging-android.yml
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

remove configuration-cache
  android/gradle.properties
Owners: @rosvik, @reidzeibel

feat: update store android build workflow
  .github/workflows/build-store-android.yml
Owners: @rosvik, @reidzeibel

feat: update ios workflow
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-ios.yml
  .github/workflows/build-store-ios.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix typo
  .github/actions/ios-build-setup/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

fix path for cocoapods, remove ruby bundle because already handled by setup-ruby
  .github/actions/ios-build-setup/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

Update scripts/android/replace-bundle.sh
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

feat: update Android github action workflow (#5663)
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
  android/gradle.properties
  fastlane/Fastfile
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

feat: update ios workflow (#5664)
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-ios.yml
  .github/workflows/build-store-ios.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat: improve cache usage by utilizing the same node modules for Android & iOS build
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat: remove force build for Android
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

Update secondsUntilDeparture every 5s
  src/screen-components/place-screen/components/EstimatedCallList.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove confusing comment
  src/departure-list/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Extract fullRefresh to explain better
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Filter in QuaySection instead of in use-departures
  src/departure-list/utils.ts
  src/screen-components/place-screen/components/QuaySection.tsx
  src/screen-components/place-screen/hooks/use-departures.ts
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unused import
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Collapse markdown paragraph if single token (#5653)
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

try different path for setup dependencies action ios
  .github/actions/ios-build-setup/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

input force build fix android
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
