Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

refactor: clean up getProfileNotification logic
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: handle invalid fare contract data more gracefully
  src/modules/ticketing/firestore.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: reload fare products on pull to refresh of PurchaseTabScreen
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: reload fare products on pull to refresh of available tickets
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: replace firestore config hook with useGetFareProductsQuery
  src/components/screen-header/use-ticket-info.tsx
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/FareContractDescription.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/notifications/use-has-fare-contract-with-activated-notification.tsx
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByAlias.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-product-alternatives.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

refactor: add ONE_WEEK_MS to duration.ts
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-fare-products-query.tsx
  src/utils/durations.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: persist fare products in local storage
  src/modules/ticketing/use-get-fare-products-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: remove firestore fallback for preassignedFareProducts
  src/modules/ticketing/use-get-fare-products-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed empty legs-section item in PreassignedFareProductSummary
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PreassignedFareProductSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: clean up getProfileNotification logic (#5377)
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: split ticket tests
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/specs/ticket.anonymous.e2e.ts
  e2e/test/specs/ticket.auth.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

test: fix disabled tests
  e2e/test/pageobjects/frontpage.page.ts
  e2e/test/specs/auth.1.e2e.ts
  e2e/test/specs/auth.2.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/profile.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

fix: handle invalid fare contract data more gracefully (#5378)
  src/modules/ticketing/firestore.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Solidify base64 image parsing
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: duplicate check
  e2e/test/specs/auth.2.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

test: added performance measures on some commands
  .github/workflows/test-e2e-android.yml
  e2e/conf/android.conf.local.dev.ts
  e2e/conf/android.conf.local.firebase.ts
  e2e/conf/android.conf.ts
  e2e/package.json
  e2e/test/pageobjects/ticket.active.page.ts
  e2e/test/specs/auth.1.e2e.ts
  e2e/test/specs/auth.2.e2e.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
  e2e/yarn.lock
Owners: @rosvik, @reidzeibel, @tormoseng, @hanne-at-atb

fix: enrollment text update and remove code on enrollment
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
  src/translations/screens/subscreens/Enrollment.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Add comment
  src/components/bottom-sheet/AnimatedBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

utvalte -> utvalde
  src/translations/screens/subscreens/Enrollment.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: enrollment text update and remove code on enrollment (#5380)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
  src/translations/screens/subscreens/Enrollment.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify with regex
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify slice and parse
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

No more need for try catch
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Add mod 4 check
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

poc: live activities
  docs/LiveActivitiesSetup.md
  ios/BridgeModules/RNLiveActivityBridge.h
  ios/BridgeModules/RNLiveActivityBridge.m
  ios/Podfile.lock
  ios/Shared/LiveActivityDataStructures.swift
  ios/Shared/RNLiveActivity.swift
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Info.plist
  ios/departureWidget.entitlements
  ios/departureWidget/DepartureWidget.swift
  src/modules/live-activities/README.md
  src/modules/live-activities/android-manager.ts
  src/modules/live-activities/examples/DepartureLiveActivityExample.tsx
  src/modules/live-activities/examples/LiveActivitiesDebugScreen.tsx
  src/modules/live-activities/examples/LiveActivitiesTestScreen.tsx
  src/modules/live-activities/index.ts
  src/modules/live-activities/service.ts
  src/modules/live-activities/storage.ts
  src/modules/live-activities/types.ts
  src/modules/live-activities/use-live-activities.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/TabNav_ProfileStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: Removed empty legs-section item in PreassignedFareProductSummary (#5379)
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PreassignedFareProductSummary.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use stream service to invalidate bonus amount query
  src/modules/bonus/api/api.ts
  src/modules/bonus/index.ts
  src/modules/bonus/queries/index.tsx
  src/modules/bonus/queries/use-bonus-amount-earned-query.tsx
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: rename values in enum
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: zod type safety for Announcements (#5318)
  src/modules/announcements/AnnouncementsContext.tsx
  src/modules/announcements/converters.ts
  src/modules/announcements/index.ts
  src/modules/announcements/storage.ts
  src/modules/announcements/types.ts
  src/modules/configuration/index.ts
  src/modules/global-messages/converters.ts
  src/modules/global-messages/index.ts
  src/modules/global-messages/types.ts
  src/modules/rule-engine/index.ts
  src/modules/rule-engine/rules.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/utils/compare-version.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: simplify schema definition
  src/modules/event-stream/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: update baseline images
  e2e/results/.gitignore
  e2e/screenshots/visualTests/baseline/departures_departureDetailsContent-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAid-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAidSection-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_quay0-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/frontpage-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket2-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_purchaseSummary-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_singleTicketElem-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_ticketInformationNight-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_bottom-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_top-android-1080x2340.png
  e2e/test/visualTests/specs/visual.travelsearch.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

refactor: rename fareProduct to preassignedFareProduct
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: updating enrollment text to say with users
  src/translations/screens/subscreens/Enrollment.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: updating enrollment text to say with users (#5385)
  src/translations/screens/subscreens/Enrollment.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Update ios-devices.txt
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix(spar): use correct secondary button color
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: use products api instead of firestore (#5352)
  src/components/screen-header/use-ticket-info.tsx
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/FareContractDescription.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/notifications/use-has-fare-contract-with-activated-notification.tsx
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-fare-products-query.tsx
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByAlias.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-product-alternatives.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/Components/RecentFareContracts/RecentFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/utils/durations.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

Support isDismissable
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unused import
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): use correct secondary button color (#5387)
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
