Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

fix: snake_case instead of camelCase in remote config (#5567)
  src/modules/map/MapContext.tsx
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: move AnnouncementSheet out of Section (#5575)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: support Announcement sort by index (#5569)
  src/modules/announcements/converters.ts
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update button background colors on assistant page (#5574)
  src/modules/favorites/FavoriteChips.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: e2e tweaks to favorite departures bottom sheet (#5576)
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/utils/navigation.helper.ts
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

feat: validate idToken before sending requests (#5293)
  package.json
  src/api/client.ts
  src/modules/auth/AuthContext.tsx
  src/modules/auth/__test__/decode-id-token.test.ts
  src/modules/auth/id-token.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: clean up hard coded text styling (#5568)
  src/departure-list/section-items/line.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/stacks-hierarchy/Root_ConsiderTravelTokenChangeScreen/Root_ConsiderTravelTokenChangeScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationResults.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/VenueResults.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixes to header changes after feedback (#5563)
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/components/StopPlaces.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.77 (#5581)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

feat: improve handling of school ticket on off days (#5573)
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-display-data.test.ts
  src/modules/fare-contracts/carnet/calculate-carnet-display-data.ts
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/use-school-carnet-info-query.tsx
  src/modules/ticketing/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: avoid using selection builder for non-sellable products (#5577)
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use correct border radius for small `CounterIconBox`es (#5578)
  src/components/icon-box/CounterIconBox.tsx
  src/components/icon-box/TransportationIconBox.tsx
  src/components/icon-box/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add geofencing zone icons to active scooter sheet (#5557)
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: typography geofencing zone error (#5583)
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: simplify error handling in formatFriendlyShmoErrorMessage
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add type parameters to useMutation for better error handling
  src/modules/mobility/queries/use-send-shmo-booking-event-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add type parameters to useMutation for improved error handling
  src/modules/mobility/queries/use-init-shmo-one-stop-booking-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed a11y for bottomsheet close and favorites bottomsheet (#5582)
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed a11y for bottomsheet close and favorites bottomsheet (#5582)
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove 'skip' option
  src/components/screen-header/HeaderButton.tsx
  src/components/screen-header/ScreenHeader.tsx
  src/translations/components/ScreenHeader.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: limit header leftButton to 'back' and move others to the right
  src/components/screen-header/ScreenHeader.tsx
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/Root_AddEditFavoritePlaceScreen.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/Root_LocationSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_LoginOptionsScreen.tsx
  src/stacks-hierarchy/Root_LoginPhoneInputScreen.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsSelectScreen.tsx
  src/stacks-hierarchy/Root_SearchFavoritePlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SortFavoritesScreen/Profile_SortFavoritesScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: make header icon required
  src/components/PhotoCapture/PhotoCapture.tsx
  src/components/screen-header/HeaderButton.tsx
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/modules/mobility/components/onboarding/LocationScreenComponent.tsx
  src/modules/mobility/components/onboarding/PaymentScreenComponent.tsx
  src/modules/mobility/components/onboarding/RulesScreenComponent.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/favorite-departures/FavoriteDeparturesScreenComponent.tsx
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/TripDetailsScreenComponent.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ScooterHelpScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_AppearanceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DefaultUserProfileScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DeleteProfileScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EditProfileScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EnrollmentScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FavoriteListScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FavoriteScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_LanguageScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NotificationsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PrivacyScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SelectStartScreenScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SettingsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistorySelectionScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidInformationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TripSelectionScreen/Root_TripSelectionScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: make more screens slide-from-right
  src/stacks-hierarchy/Root_AddEditFavoritePlaceScreen/Root_AddEditFavoritePlaceScreen.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_LoginRequiredForFareProductScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_SearchFavoritePlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SortFavoritesScreen/Profile_SortFavoritesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Refactor error handling and improve type safety in useMutation (#5585)
  src/modules/mobility/queries/use-init-shmo-one-stop-booking-mutation.tsx
  src/modules/mobility/queries/use-send-shmo-booking-event-mutation.tsx
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update header icons and remove 'info'
  src/components/screen-header/HeaderButton.tsx
  src/components/screen-header/ScreenHeader.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update sort favorites screen
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SortFavoritesScreen/Profile_SortFavoritesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Refactor error handling and improve type safety in useMutation (#5585)
  src/modules/mobility/queries/use-init-shmo-one-stop-booking-mutation.tsx
  src/modules/mobility/queries/use-send-shmo-booking-event-mutation.tsx
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add bike ticket visualization
  patches/@atb-as+config-specs+8.2.1.patch
  src/api/client.ts
  src/api/index.ts
  src/modules/auth/AuthContext.tsx
  src/modules/auth/index.ts
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/types.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/utils/array-map-unique-with-count.ts
  src/utils/only-uniques.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add Bonus to Dashboard
  src/modules/bonus/components/UserBonusBalanceContent.tsx
  src/modules/bonus/components/index.tsx
  src/modules/bonus/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/translations/screens/Dashboard.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: remove special coloring for contentheading on Dashboard
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update utils.ts
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Use formatNumberToString from utils (#5473)
  src/modules/fare-contracts/sections/OrderDetailsSectionItem.tsx
  src/modules/mobility/components/PricingPlan.tsx
  src/modules/mobility/components/VehicleCard.tsx
  src/modules/mobility/utils.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Summary.tsx
  src/translations/screens/subscreens/MobilityTexts.ts
  src/utils/__tests__/numbers.test.ts
  src/utils/numbers.ts
Owners: @marius-at-atb, @rosvik, @strandlie

move to isSupplementProduct
  patches/@atb-as+config-specs+8.2.1.patch
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Move to use supplement product reference data traveller info
  patches/@atb-as+config-specs+8.2.1.patch
  src/modules/configuration/index.ts
  src/modules/configuration/utils.ts
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/use-baggage-products.ts
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-get-supplement-products-query.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/CompactFareContracts.tsx
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

migrated TravelSearchFiltersBottomSheet to use new bottomsheet
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-travel-search-filters-state.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: clean up location handling in NearbyStopPlacesScreen
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add link from ticket with bonuspoints to bonus page
  src/components/sections/items/LinkSectionItem.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DesignSystemScreen.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

remove patch + local api calls
  patches/@atb-as+config-specs+8.2.1.patch
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/ticketing/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

bump config-specs
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
