Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: add RNBarcodeInspectionView mobile token aztec code (#5491)
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/mobile-token/index.ts
  src/modules/mobile-token/mobileTokenClient.ts
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: app calls benefit service directly
  src/modules/map/MapV2.tsx
  src/modules/mobility/api/api.ts
  src/modules/mobility/use-is-eligible-for-benefit.tsx
  src/modules/mobility/use-operator-benefits-for-fare-product.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: should not have been committed
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add analytics on expand My Price / Flex Discount Info
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: field name in test
  src/modules/mobility/__tests__/use-is-eligible-for-benefit.test.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove legacy useEffect
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Nit
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add analytics on expand My Price / Flex Discount Info (#5501)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove legacy useEffect (#5503)
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove legacy useEffect (#5503)
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.3
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: bump kettle to v1.4.3 (#5504)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: fetch consumable info for school tickets
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-data.test.ts
  src/modules/fare-contracts/carnet/calculate-carnet-data.ts
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/types.ts
  src/modules/ticketing/use-consumable-info-query.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: automatically use plural for carnet single ticket(s) text
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: move CarnetFooter into its own section item
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show info about next top up date
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-data.test.ts
  src/translations/screens/FareContract.ts
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.3 (#5504)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

refactor: rewrite axios client error interceptor
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use ErrorResponse instead of AxiosError
  src/api/client.ts
  src/api/profile.ts
  src/api/utils.ts
  src/modules/auth/auth-utils.ts
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/map/components/LocationBar.tsx
  src/modules/mobile-token/tokenService.ts
  src/modules/mobile-token/utils.ts
  src/modules/mobility/api/api.ts
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/ticketing/use-refund-mutation.tsx
  src/queries/update-profile-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/use-current-trip-pattern-with-updates.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/Results.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EditProfileScreen.tsx
  src/stacks-hierarchy/utils.ts
  src/utils/use-pollable-resource.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use renamed property
  src/modules/mobile-token/tokenService.ts
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: don't notify for timeouts etc
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: replace HttpErrorResponse with RequestError and improve error handling
  src/api/client.ts
  src/api/profile.ts
  src/api/utils.ts
  src/modules/auth/auth-utils.ts
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/mobile-token/utils.ts
  src/modules/mobility/api/api.ts
  src/modules/ticketing/use-refund-mutation.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: enhance error handling by using HttpErrorResponse and isErrorResponse
  src/api/client.ts
  src/api/utils.ts
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use correct types when casting
  src/api/profile.ts
  src/modules/auth/auth-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: add helper for AxiosErrorKind
  src/api/utils.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: correct error state check in StopPlacesView component
  src/screen-components/place-screen/components/StopPlacesView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: handle school error
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: remove comment
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: fix eslint error
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rewrite axios client error handling (#5424)
  src/api/client.ts
  src/api/profile.ts
  src/api/utils.ts
  src/modules/auth/auth-utils.ts
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/map/components/LocationBar.tsx
  src/modules/mobile-token/tokenService.ts
  src/modules/mobile-token/utils.ts
  src/modules/mobility/api/api.ts
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/ticketing/use-refund-mutation.tsx
  src/queries/update-profile-query.ts
  src/screen-components/nearby-stop-places/use-nearest-stops-data.ts
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/use-current-trip-pattern-with-updates.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/use-favorite-departure-data.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/Results.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_EditProfileScreen.tsx
  src/stacks-hierarchy/utils.ts
  src/utils/use-pollable-resource.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Simplified getTextForLanguage function
  src/translations/__tests__/utils.test.ts
  src/translations/types.ts
  src/translations/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename some map data types
  src/api/bff/servicejourney.ts
  src/api/types/serviceJourney.ts
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/screen-components/travel-details-screens/use-map-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate polyline endpoint to useQuery
  src/api/bff/servicejourney.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/screen-components/travel-details-screens/use-map-data.ts
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Cleaned up PurchaseOverviewScreen
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FareProductHeader.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Summary.tsx
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/Root_TripSelectionScreen/components/TripSelection.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate departure details to useQuery
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/__tests__/get-should-show-live-vehicle.test.ts
  src/screen-components/travel-details-screens/index.tsx
  src/screen-components/travel-details-screens/use-departure-details-query.ts
  src/screen-components/travel-details-screens/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: update cancel error handling in useTripsQuery
  src/api/client.ts
  src/api/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: move logic out of useDepartureDetailsQuery
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/use-departure-details-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: update cancel error handling in useTripsQuery (#5506)
  src/api/client.ts
  src/api/index.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/use-trips-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add new device
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
