Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

chore: add new device (#5507)
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: Fixed missing notices in Legs summary
  src/api/client.ts
  src/components/journey-legs-summary/LegsSummary.tsx
  src/modules/situations/index.tsx
  src/modules/situations/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: keep EstimatedCallWithMetadata internal to departure details
  src/components/estimated-call/DepartureTime.tsx
  src/screen-components/travel-details-screens/__tests__/get-should-show-live-vehicle.test.ts
  src/screen-components/travel-details-screens/index.tsx
  src/screen-components/travel-details-screens/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: set gcTime to 1 hour for polylines
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed unintended comment
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: First commit (not working)
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/use-selectable-supplementary-products.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-user-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Delted unintended local override
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Remove Refunds from Info-screen
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: skiltnummer → registreringsnummer
  src/modules/smart-park-and-ride/components/LicensePlateSection.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: first onboarding page
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update screen heading
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed missing notices in Legs summary (#5509)
  src/components/journey-legs-summary/LegsSummary.tsx
  src/modules/situations/index.tsx
  src/modules/situations/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update trip search ResultItem styling
  src/components/icon-box/CounterIconBox.tsx
  src/components/icon-box/TransportationIconBox.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update travel details realtime text styling
  src/screen-components/travel-details-screens/components/Time.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove LegDash component
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add quay descriptions for first quay in a trip leg or departure
  src/api/types/generated/fragments/quays.ts
  src/api/types/generated/fragments/trips.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: change return key type for license plate input
  src/modules/smart-park-and-ride/components/LicensePlateSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: move footer buttons for add page
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show current/max vehicles registered
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove unused imports
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add more spacing around departure times
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.4
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: add new device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: bump kettle to v1.4.4 (#5515)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Remove Refunds from Info-screen (#5510)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add new device (#5514)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: Bump to version 1.74.1
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

chore: bump kettle to v1.4.4 (#5515)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fixed map camera movement in the map to more predicteble movement
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Update TripSection a11y to include quay description
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Test without nested
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add quay descriptions for first quay in a trip leg or departure (#5512)
  src/api/types/generated/fragments/quays.ts
  src/api/types/generated/fragments/trips.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: move CarnetFooter into its own section item
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show info about next top up date
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-data.test.ts
  src/translations/screens/FareContract.ts
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: automatically use plural for carnet single ticket(s) text
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: update endpoint field names
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/types.ts
  src/modules/ticketing/use-school-carnet-info-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: fetch consumable info for school tickets
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/__tests__/calculate-carnet-data.test.ts
  src/modules/fare-contracts/carnet/calculate-carnet-data.ts
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/api.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/types.ts
  src/modules/ticketing/use-consumable-info-query.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Cleanup after sending selection to TicketInformationScreen
  src/components/screen-header/use-ticket-info.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-product-alternatives.ts
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: write statement simpler
  src/modules/mobility/api/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie
