Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

feat: bonus section on dashboard (#5588)
  src/modules/bonus/components/UserBonusBalanceContent.tsx
  src/modules/bonus/components/index.tsx
  src/modules/bonus/index.ts
  src/modules/fare-contracts/CompactFareContracts.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/hooks/use-enter-payment-methods.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/BonusDashboard.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_BonusScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/index.ts
  src/stacks-hierarchy/index.ts
  src/translations/screens/Dashboard.ts
  src/utils/use-navigate-to-nested-profile-screen.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: no 'as PointFeature' cast
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: small polygons polylabel issue (#5605)
  src/modules/map/geofencing-zone-utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Map svg from baggage type
  src/components/sections/items/CounterSectionItem.tsx
  src/modules/configuration/index.ts
  src/modules/configuration/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: Extract common count state handling
  src/modules/fare-contracts/CompactFareContractInfo.tsx
  src/modules/fare-contracts/CompactFareContracts.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/SingleTravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-baggage-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-user-count-state.ts
  src/utils/array-map-unique-with-count.ts
  src/utils/unique-with-count.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Re-use isSelectableSupplementProduct
  src/modules/purchase-selection/use-selectable-baggage-products.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Avoid type casting
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use useNavigateToNestedProfileScreen
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl

add comment
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: fix feedback
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add travel aid onboarding screen (#5599)
  src/modules/onboarding/OnboardingContext.tsx
  src/modules/onboarding/onboarding-config.ts
  src/modules/onboarding/types.ts
  src/screen-components/travel-aid/TravelAidScreenComponent.tsx
  src/screen-components/travel-aid/components/StopSignalButton.tsx
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
  src/stacks-hierarchy/Root_TravelAidOnboardingScreen.tsx
  src/stacks-hierarchy/navigation-types.ts
  src/translations/index.ts
  src/translations/screens/subscreens/TravelAid.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: move vehicle fragments into mobility
  src/api/bff/mobility.ts
  src/api/types/generated/VehiclesQuery.ts
  src/api/types/generated/fragments/mobility-shared.ts
  src/api/types/generated/fragments/vehicles.ts
  src/modules/map/components/mobility/Bicycles.tsx
  src/modules/map/components/mobility/Scooters.tsx
  src/modules/map/types.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use VehicleFragment type and consistent naming
  src/api/bff/vehicles.ts
  src/api/types/generated/ServiceJourneyVehiclesQuery.ts
  src/api/types/generated/fragments/vehicles.ts
  src/api/types/generated/vehicles-types_v1.ts
  src/api/types/generated/vehicles-types_v2.ts
  src/api/types/vehicles.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/utils.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripDetailsScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Move to use config-specs for BaggageProduct
  package.json
  src/modules/configuration/types.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

update comment
  src/modules/purchase-selection/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for imageconfirmationsheet (#5606)
  src/components/PhotoCapture/ImageConfirmationBottomSheet.tsx
  src/components/PhotoCapture/PhotoCapture.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for favoriteDialogSheet
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/favorites/use-on-mark-favourite-departures.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for ActivateNowBottomSheet
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/fare-contracts/components/ActivateNowSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use inAppBrowser for external links
  src/components/feedback/SubmittedComponent.tsx
  src/components/message-info-box/MessageInfoBox.tsx
  src/components/sections/items/MessageSectionItem.tsx
  src/components/text/markdown-renderer.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/onboarding/RulesScreenComponent.tsx
  src/modules/situations/SituationBottomSheet.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/screen-components/error-boundary/FullScreenErrorView.tsx
  src/screen-components/force-update-screen/ForceUpdateScreen.tsx
  src/screen-components/loading-screen/LoadingErrorScreen.tsx
  src/screen-components/travel-details-screens/components/BookingOptions.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_ShareTravelHabitsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/CityZoneMessage.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PrivacyScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

formatting
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for ConsumeCarnetBottomSheet
  src/modules/fare-contracts/components/ConsumeCarnetBottomSheet.tsx
  src/modules/fare-contracts/components/ConsumeCarnetSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

more prettier formatting
  src/screen-components/error-boundary/FullScreenErrorView.tsx
  src/stacks-hierarchy/Root_ShareTravelHabitsScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Active color on selected baggage counter
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for RefundBottomSheet
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/fare-contracts/components/RefundSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add debug menu for always showing fallback token
  src/modules/mobile-token/MobileTokenContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add new ticket visualization
  src/modules/fare-contracts/components/FareContractDetailItem.tsx
  src/modules/fare-contracts/components/FareContractFromTo.tsx
  src/modules/fare-contracts/components/FromToBox.tsx
  src/modules/fare-contracts/components/HarborsFromTo.tsx
  src/modules/fare-contracts/components/SchoolFromTo.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/fare-contracts/components/ZonesFromTo.tsx
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/utils.ts
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Format text properly and correct icons
  src/components/icon-box/utils.ts
  src/modules/fare-contracts/components/FareContractDetailItem.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/utils.ts
  src/recent-fare-contracts/RecentFareContract.tsx
  src/utils/phone-number-utils.ts
  src/utils/text.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fix in details screen too
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Icon fill in recent fare contract
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add icons on details page too
  src/modules/fare-contracts/components/FareContractDetailItem.tsx
  src/modules/fare-contracts/components/FromToBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
  src/modules/fare-contracts/utils.ts
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

simplify statement
  src/modules/mobile-token/MobileTokenContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add debug menu for always showing fallback token (#5615)
  src/modules/mobile-token/MobileTokenContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Active color on selected baggage counter (#5613)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

revert some changes
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/screen-components/force-update-screen/ForceUpdateScreen.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

refactor: use inapp browser for external links (#5612)
  src/components/feedback/SubmittedComponent.tsx
  src/components/message-info-box/MessageInfoBox.tsx
  src/components/sections/items/MessageSectionItem.tsx
  src/components/text/markdown-renderer.tsx
  src/modules/fare-contracts/components/RefundBottomSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/onboarding/RulesScreenComponent.tsx
  src/modules/situations/SituationBottomSheet.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/screen-components/error-boundary/FullScreenErrorView.tsx
  src/screen-components/loading-screen/LoadingErrorScreen.tsx
  src/screen-components/travel-details-screens/components/BookingOptions.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_ShareTravelHabitsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/CityZoneMessage.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_HelpAndContactScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PrivacyScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: trip section provider should use external browser
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: contacting customer service should go to external browser
  src/screen-components/error-boundary/FullScreenErrorView.tsx
  src/screen-components/loading-screen/LoadingErrorScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fix gap between items in list info
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

also on recent tickets
  src/recent-fare-contracts/RecentFareContract.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
