Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

refactor: migrate polyline endpoint to useQuery
  src/api/bff/servicejourney.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/screen-components/travel-details-screens/use-map-data.ts
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: keep EstimatedCallWithMetadata internal to departure details
  src/components/estimated-call/DepartureTime.tsx
  src/screen-components/travel-details-screens/__tests__/get-should-show-live-vehicle.test.ts
  src/screen-components/travel-details-screens/index.tsx
  src/screen-components/travel-details-screens/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: move logic out of useDepartureDetailsQuery
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/use-departure-details-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename getServiceJourneyPolylines
  src/api/bff/servicejourney.ts
  src/screen-components/travel-details-screens/use-service-journey-polyline-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: claim benefit http request method post -> put
  src/modules/mobility/api/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: claim benefit http request method post -> put (#5529)
  src/modules/mobility/api/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove duplicate MapLeg type
  src/api/types/serviceJourney.ts
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
  src/screen-components/travel-details-map-screen/utils.ts
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/Trip.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate reverse geocoder to react query
  src/api/bff/geocoder.ts
  src/modules/geocoder/index.ts
  src/modules/geocoder/use-reverse-geocoder-query.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/map/components/LocationBar.tsx
  src/translations/screens/subscreens/LocationSearch.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use react query for geocoder / autocomplete
  src/api/bff/geocoder.ts
  src/modules/geocoder/index.ts
  src/modules/geocoder/use-geocoder-query.ts
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/utils.ts
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: re-add abort signals
  src/modules/geocoder/use-geocoder-query.ts
  src/modules/geocoder/use-reverse-geocoder-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update snackbar design and add icon
  src/components/snackbar/Snackbar.tsx
  src/components/snackbar/index.ts
  src/components/snackbar/use-snackbar-is-visible.ts
  src/components/snackbar/use-snackbar-screen-reader-focus.ts
  src/components/snackbar/use-snackbar.tsx
  src/components/snackbar/utils.ts
  src/modules/storybook/stories/Snackbar.stories.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: also commit Mapv2
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: create EventStreamContext and add event log to debug menu
  src/index.tsx
  src/modules/event-stream/EventStreamContext.tsx
  src/modules/event-stream/index.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo when navigating backwards
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo when navigating backwards (#5533)
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.76
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix: read out school ticket consumption info message on VoiceOver
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to version 1.76 (#5534)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix: read out school ticket consumption info message on VoiceOver (#5535)
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add new device
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: add new device (#5536)
  env/atb/ios-devices.txt
Owners: @rosvik, @reidzeibel

fix: read out school ticket consumption info message on VoiceOver (#5535)
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo for navigation on zone confirm button
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByMapScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo for navigation on zone confirm button (#5537)
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByMapScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add `titleAlwaysVisible` prop to FullScreenView
  src/components/screen-view/FullScreenView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add `titleAlwaysVisible` prop to FullScreenView
  src/components/screen-view/FullScreenView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove remains of `bypassRestrictions` field
  src/modules/mobile-token/hooks/use-toggle-token-mutation.tsx
  src/modules/mobile-token/tokenService.ts
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use popTo for navigation on zone confirm button (#5537)
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByMapScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update @atb-as/theme to 14.3.1
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate delete profile call to useMutation
  src/api/profile.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DeleteProfileScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

moved mapBottomSheet to new folder and refactored some code to reuse with the generic bottomsheet for the rest of the app
  src/components/bottom-sheet-map/index.tsx
  src/components/bottom-sheet-map/utils.ts
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/BottomSheetTopPositionBridge.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/index.ts
  src/components/bottom-sheet-v2/use-bottom-sheet-styles.ts
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Simplified getTextForLanguage function (#5505)
  src/translations/__tests__/utils.test.ts
  src/translations/types.ts
  src/translations/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet to SelectFavouritesBottomSheet
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: ignore "Open debugger to view warnings" LogBox warning (#5528)
  src/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: cleanup ticket overview (#5517)
  src/components/screen-header/use-ticket-info.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FareProductHeader.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Summary.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-product-alternatives.ts
  src/stacks-hierarchy/Root_TicketInformationScreen/Root_TicketInformationScreen.tsx
  src/stacks-hierarchy/Root_TripSelectionScreen/components/TripSelection.tsx
  src/stacks-hierarchy/navigation-types.ts
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet to SelectFavouritesBottomSheet
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove remains of `bypassRestrictions` field (#5539)
  src/modules/mobile-token/hooks/use-toggle-token-mutation.tsx
  src/modules/mobile-token/tokenService.ts
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add `titleAlwaysVisible` prop to FullScreenView (#5538)
  src/components/screen-view/FullScreenView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: create EventStreamContext and add event log to debug menu (#5532)
  src/index.tsx
  src/modules/event-stream/EventStreamContext.tsx
  src/modules/event-stream/index.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: migrate geocoder to react query (#5530)
  src/api/bff/geocoder.ts
  src/modules/geocoder/index.ts
  src/modules/geocoder/use-geocoder-query.ts
  src/modules/geocoder/use-geocoder-reducer.ts
  src/modules/geocoder/use-geocoder.ts
  src/modules/geocoder/use-reverse-geocoder-query.ts
  src/modules/geocoder/use-reverse-geocoder.ts
  src/modules/geocoder/utils.ts
  src/modules/map/components/LocationBar.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
  src/translations/screens/subscreens/LocationSearch.ts
Owners: @marius-at-atb, @rosvik, @strandlie
