Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

remove unnecessary check and ?
  src/utils/transportation-names.ts
Owners: @marius-at-atb, @rosvik, @strandlie

created a testbranch for entur to test voi in Oslo
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add definite form for transportation modes (#5724)
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/translations/dictionary.ts
  src/translations/screens/subscreens/DepartureDetails.ts
  src/utils/transportation-names.ts
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

cache and reuse apktool instead of using brew to install it
  .github/workflows/build-staging-android.yml
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

fix install path apktool
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

remove -q flag from wget
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix link
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

add missing "needs"
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

add no res flag to apktool since we don't manipulate resources anyway
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

fixed issue where you had to press two times to take picture
  src/components/PhotoCapture/PhotoCapture.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: use only one gradle cache for all orgs, re-enable apk cache
  .github/actions/android-pre-build-steps/action.yml
  .github/workflows/build-staging-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

chore: try warming up cache in setup job
  .github/actions/android-pre-build-steps/action.yml
  .github/workflows/build-staging-android.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

using operatorname from operatorQuery in scootersheet
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add shmo booking stream event handling
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add bookingId to ShmoBookingUpdate event and update query handling
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/mobility/queries/use-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update hooks to support dynamic refetch intervals
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
  src/modules/mobility/queries/use-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update ShmoBooking event handling to use languageGlobal and rename event type
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/locale/LocaleProvider.tsx
  src/modules/locale/index.ts
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove acceptLanguage parameter from event stream handling and query key functions
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/use-setup-event-stream.ts
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add shmo booking stream event handling (#5592)
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
  src/modules/locale/LocaleProvider.tsx
  src/modules/locale/index.ts
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/queries/use-active-shmo-booking-query.tsx
  src/modules/mobility/queries/use-shmo-booking-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

do not inline all style
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Fixes after master merge
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZonesAsTiles.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

nit
  src/components/parallax-scroll/ParallaxScroll.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Adjust vertical align for stations icons in the map
  src/modules/map/hooks/use-map-symbol-styles.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Adjust vertical align for stations icons in the map (#5747)
  src/modules/map/hooks/use-map-symbol-styles.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed swap button
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FromToSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/HarborSelection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add personalisation program point event handling
  src/modules/bonus/api/api.ts
  src/modules/bonus/queries/use-bonus-balance-query.tsx
  src/modules/bonus/queries/use-buy-value-code-with-bonus-points-query.tsx
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

refactor: Refactored fetch-call to sales/trip-pattern
  src/api/sales.ts
  src/api/types/sales.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_TripSelectionScreen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Fixed logic for adding products to sales/trip-pattern to be same as bike ticket
  src/modules/booking/use-booking-trips.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Reset TravellerCount state after sheet dismiss (#5698)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheetContent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump to version 1.79 (#5685)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

feat: add stream service info to profile and Intercom (#5702)
  src/modules/chat/use-intercom-metadata.ts
  src/modules/feature-toggles/FeatureTogglesContext.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed screenreader bug in favoritesBottomSheet
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add PostHog-event for screenshot capture
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  src/stacks-hierarchy/RootStack.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

build: add input to specify which orgs to build
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix orgs option
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

resetting ref after close
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

add entur registry to setup for install step
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: Remove explicit screen name set
  src/modules/analytics/AnalyticsContext.tsx
  src/stacks-hierarchy/RootStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

forgot using the setup output as matrix
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
