Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

nit
  src/modules/diagnostics/trackNavigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade react-navigation to v7
  ios/Podfile.lock
  package.json
  scripts/generate-native-assets.sh
  src/modules/analytics/AnalyticsContext.tsx
  src/modules/diagnostics/trackNavigation.ts
  src/stacks-hierarchy/RootStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/Root_TabNavigatorStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
  src/utils/transition-spec.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Enable new React Native architecture
  android/gradle.properties
  ios/Podfile
Owners: @rosvik, @reidzeibel

feat(spar): handle error when adding vehicle
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/smart-park-and-ride/queries/use-add-vehicle-registration-mutation.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump deps
  package.json
  patches/@react-native-async-storage+async-storage+2.2.0.patch
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): handle error when editing vehicle
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/smart-park-and-ride/queries/use-edit-vehicle-registration-mutation.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat(aztec): remote configurable aztec code dimensions
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add refresh control
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(aztec-config): read theme directly in remote config setup
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Refactor to 0.81 template with Swift AppDelegate
  Gemfile
  Gemfile.lock
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  ios/AppDelegate.swift
  ios/AtbAppIntent/Info.plist
  ios/BridgeModules/ChangeNativeBridge.m
  ios/BridgeModules/KettleSDKExtension.m
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/AppDelegate.h
  ios/atb/AppDelegate.mm
  ios/atb/Info.plist
  ios/atb/main.m
  ios/departureWidget/Info.plist
  package.json
  tsconfig.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

tmp
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
Owners: @rosvik, @reidzeibel

fix: add serverTimeOffsetGlobal instead of subtract in TimeContext
  src/modules/time/TimeContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: never cache data from /identity/v1/time
  src/api/identity.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: reset TimeContext interval on new server time data
  src/modules/time/TimeContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  .storybook/storybook.requires.ts
  android/build.gradle
  ios/Podfile
  ios/Podfile.lock
  ios/atb.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: prevent cached response when traveling back in time (#5415)
  src/api/identity.ts
  src/modules/time/TimeContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Temporary react-native-date-picker patch because of compat with 0.81
  patches/react-native-date-picker+5.0.13.patch
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Remove react-native-camera-kit Podfile pre-install
  ios/Podfile
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

feat: remove isSubtextMarkdown prop from ToggleSectionItem
  src/components/sections/items/ToggleSectionItem.tsx
  src/modules/storybook/stories/Section.stories.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump to compatible 0.81 old arch reanimated
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

refactor: replace TouchableOpacities with PressableOpacity (#5404)
  .eslintrc.js
  src/components/bottom-sheet/BottomSheetHeader.tsx
  src/components/camera/CaptureButton.tsx
  src/components/checkbox/CheckboxWithLabel.tsx
  src/components/snackbar/Snackbar.tsx
  src/departure-list/section-items/line.tsx
  src/screen-components/travel-details-screens/components/FlexibleTransportBookingDetailsSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/HarborSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ZonesSelection.tsx
  src/stacks-hierarchy/Root_ScooterHelp/components/SelectGroup.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/components/ClickableCopy.tsx
  src/utils/use-focus-refs.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Plugin transform
  babel.config.js
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

added reducer and updated scootersheets
  src/components/bottom-sheet-map/BottomSheetMap.tsx
  src/components/bottom-sheet-map/index.tsx
  src/components/bottomsheet-new/BottomSheet.tsx
  src/components/bottomsheet-new/index.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-auto-select-map-item.tsx
  src/modules/map/hooks/use-map-bottom-sheets.tsx
  src/modules/map/hooks/use-trigger-camera-move-effect.tsx
  src/modules/map/hooks/use-update-bottom-sheet-when-selected-entity-changes.tsx
  src/modules/map/mapStateReducer.ts
  src/modules/mobility/components/VehicleCard.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreenV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

tmp
  .rnstorybook/index.tsx
  .rnstorybook/main.ts
  .rnstorybook/preview.tsx
  .rnstorybook/storybook.requires.ts
  ios/Mintfile
  ios/Podfile.lock
  metro.config.js
  package.json
  src/modules/storybook/StorybookContext.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat(aztec-config): replace theme value with scalar default
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore(aztec-config): add usage comment
  src/modules/fare-contracts/details/Barcode.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: improve screen reader support on a11y screen (#5416)
  src/components/sections/items/ToggleSectionItem.tsx
  src/components/text/markdown-renderer.tsx
  src/modules/storybook/stories/Section.stories.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelAidScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: RN minimum node version is 22 now
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-store-android.yml
  .github/workflows/tsc.yml
  package.json
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

refactor(aztec-config): uncouple dynamic height and padding from useStyles
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): make onboarding texts configurable
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/enrollment/useSmartParkAndRideOnboardingTexts.ts
  src/modules/smart-park-and-ride/index.tsx
  src/modules/smart-park-and-ride/useSmartParkAndRideTexts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Window initialize derp
  ios/AppDelegate.swift
Owners: @rosvik, @reidzeibel

fix: use "tab" a11y role on tickets page
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/Ticketing_TicketTabNavStack.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use "button" a11y role on departures stop place items
  src/screen-components/nearby-stop-places/components/StopPlaceItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(aztec): remote configurable aztec code dimensions (#5414)
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat(aztec): remote configurable aztec code dimensions (#5414)
  src/modules/fare-contracts/details/Barcode.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: changes based on feedback
  src/modules/smart-park-and-ride/api/api.ts
  src/modules/smart-park-and-ride/types.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use a11y role "button" on compact travel details
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
