Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

feat: update onboarding screens with new icons and text adjustments
  src/modules/onboarding/OnboardingScreenComponent.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unused MAPBOX_STOP_PLACES_STYLE_URL
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  types/react-native-dotenv.d.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat(spar): show success toast when adding/updating/deleting
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: format
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove MBXAccessToken and MAPBOX_PUBLIC_TOKEN
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  ios/atb/Info.plist
Owners: @rosvik, @reidzeibel

Get mapboxApiToken from remote config
  src/index.tsx
  src/modules/map/MapContext.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Remove remaining MAPBOX_PUBLIC_TOKEN
  env/atb/dev/.env
Owners: @rosvik, @reidzeibel

chore: Remove unused MAPBOX_STOP_PLACES_STYLE_URL (#5560)
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  types/react-native-dotenv.d.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat(spar): show success toast when adding/updating/deleting (#5561)
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixes to header changes after feedback
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/components/StopPlaces.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Post merge fix
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
Owners: @rosvik, @reidzeibel

refactor: Remove MBXAccessToken and MAPBOX_PUBLIC_TOKEN (#5562)
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  ios/atb/Info.plist
Owners: @rosvik, @reidzeibel

Remove unused import
  src/modules/fare-contracts/sections/OrderDetailsSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use yarn.lock from master
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fixed focus on close and added a delay on bottomsheetfocus to focus the header
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update onboarding screens with new icons and text adjustments (#5556)
  src/modules/onboarding/OnboardingScreenComponent.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

cleaned up some small issues
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): onboarding screen cta text
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): onboarding screen cta text (#5564)
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed typographi error
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unsupported default filter from remote config
  src/modules/map/hooks/use-map-filter.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: new reusable bottomsheet (#5541)
  src/components/bottom-sheet-map/index.tsx
  src/components/bottom-sheet-map/utils.ts
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/BottomSheetV2Context.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/BottomSheetTopPositionBridge.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/components/bottom-sheet-v2/index.ts
  src/components/bottom-sheet-v2/use-bottom-sheet-styles.ts
  src/index.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Support user preference language for receipt e-mail
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_ReceiptScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for announcementSheet
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: get mapbox variables from remote config (#5559)
  src/index.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/mapbox-styles/get-mapbox-dark-style.ts
  src/modules/map/mapbox-styles/get-mapbox-light-style.ts
  src/modules/map/mapbox-styles/mapbox-dark-style.ts
  src/modules/map/mapbox-styles/mapbox-light-style.ts
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: Specify languages
  src/modules/ticketing/api.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Support user preference language for receipt e-mail (#5565)
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_ReceiptScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed close on backdrop press for bottomsheet
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for announcementSheet (#5566)
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/AnnouncementSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Add useLargeTitle prop to NearbyStopPlacesScreen and set to false in Dashboard and Profile screens
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

snake_case instead of camelCase in remote config
  src/modules/map/MapContext.tsx
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: snake_case instead of camelCase in remote config (#5567)
  src/modules/map/MapContext.tsx
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: hide activate button if school ticket is not consumable
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/ConsumeCarnetSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/use-school-carnet-info-query.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: show 0 remaining accesses when nextConsumableDateTime is set
  src/modules/fare-contracts/carnet/CarnetFooter.tsx
  src/modules/fare-contracts/carnet/calculate-carnet-data.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Update background color handling in Header based on useLargeTitle prop
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Refactor parallaxContent rendering in NearbyStopPlacesScreenComponent
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use body__m__strong for trip line name
  src/screen-components/travel-details-screens/components/TripSection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove hard coded text styles in location and venue search
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationResults.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/VenueResults.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add safe area margin to location and zone search results
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove hard coded onboarding font weights
  src/stacks-hierarchy/Root_ConsiderTravelTokenChangeScreen/Root_ConsiderTravelTokenChangeScreen.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
