Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

fix: feedback from Marius
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Adjust down letterSpacing when fontScale is less than 1.0 on Android
  src/components/button/Button.tsx
  src/components/text/ThemeText.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: removed now unused zoomlevel
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: refactor recent fare contracts to use tanstack query
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: refactor activate now direct call to use-activate-fare-contract-now-mutation
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-activate-fare-contract-now-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

simplify mutationfn
  src/modules/ticketing/use-activate-fare-contract-now-mutation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: add merchant ID
  ios/atb/AtB.entitlements
  ios/atb/atbDebug.entitlements
Owners: @rosvik, @reidzeibel

fix rebase issue
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor activate now
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Adjust down letterSpacing when fontScale is less than 1.0 on Android (#5717)
  src/components/button/Button.tsx
  src/components/text/ThemeText.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Use rotateZ since Android doesn't support skewX
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

wip: pass paymentData after payment
  ios/PaymentHandler/RCTPaymentHandler.mm
  ios/PaymentHandler/RCTPaymentHandler.swift
  src/modules/payment/SelectPaymentMethodSheet.tsx
  src/modules/ticketing/types.ts
  src/specs/NativePaymentHandler.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: Use rotateZ since Android doesn't support skewX (#5718)
  src/components/line-with-vertical-bars/LineWithVerticalBars.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: quay cancellation message (#5690)
  src/screen-components/place-screen/components/QuaySection.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/screen-components/travel-details-screens/components/CancelledDepartureMessage.tsx
  src/translations/components/CancelledDeparture.ts
  src/translations/screens/subscreens/DepartureDetails.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed small comments from PR
  src/api/mobility.ts
  src/api/utils.ts
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
  src/modules/mobility/queries/use-get-operators-query.tsx
  src/modules/mobility/utils.ts
  src/translations/screens/subscreens/MobilityTexts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: not conditionally call usememo and use othertrain sprite
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed formatting
  src/api/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add 1% to text on Android buttons
  src/components/button/Button.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added small fixes with nullables
  src/api/mobility.ts
  src/api/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

remove unused error
  src/recent-fare-contracts/use-recent-fare-contracts.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: hide horizontal scroll indicator on announcements
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Add 1% to text on Android buttons (#5719)
  src/components/button/Button.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Do not render border when content is filled
  src/modules/fare-contracts/components/InspectionSymbol.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: refactor use-recent-fare-contract, and create use-activate-fare-contract-now-mutation (#5713)
  src/modules/fare-contracts/components/ActivateNowBottomSheet.tsx
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-activate-fare-contract-now-mutation.tsx
  src/recent-fare-contracts/use-recent-fare-contracts-query.ts
  src/recent-fare-contracts/use-recent-fare-contracts.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: hide horizontal scroll indicator on announcements (#5720)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Do not render border when content is filled (#5722)
  src/modules/fare-contracts/components/InspectionSymbol.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: new device martin
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

feat: add definite form for transportation modes
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/translations/dictionary.ts
  src/translations/screens/subscreens/DepartureDetails.ts
  src/utils/transportation-names.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: new device martin (#5723)
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
  env/troms/ios-devices.txt
Owners: @rosvik, @reidzeibel

Refactor useHasReservationOrAvailableFareContract to only update on click
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-has-reservation-or-available-fare-contract.ts
  src/modules/ticketing/use-has-reservation-or-available-fare-contract.ts
  src/stacks-hierarchy/Root_LoginRequiredForFareProductScreen.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fix error detection and update text to reflect the circumstances around night ticket
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify useGetFareContractsQuery usage
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-has-reservation-or-available-fare-contract.ts
  src/stacks-hierarchy/Root_LoginRequiredForFareProductScreen.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Move const outside render
  src/modules/ticketing/use-get-has-reservation-or-available-fare-contract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Memoize hasReservationOrAvailableFareContract
  src/modules/ticketing/use-get-has-reservation-or-available-fare-contract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Upgrade mapbox
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: fix error detection and update text to reflect the circumstances around night ticket (#5725)
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Update mapbox imports and stricter types
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/modules/map/Map.tsx
  src/modules/map/components/SelectedFeatureIcon.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/components/mobility/VehiclesAndStations.tsx
  src/modules/map/components/national-stop-registry-features/NationalStopRegistryFeatures.tsx
  src/modules/map/components/national-stop-registry-features/nsr-layers.ts
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-map-symbol-styles.ts
  src/modules/map/utils.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Refactor useHasReservationOrAvailableFareContract (#5726)
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-fare-contracts.ts
  src/modules/ticketing/use-get-has-reservation-or-available-fare-contract.ts
  src/modules/ticketing/use-has-reservation-or-available-fare-contract.ts
  src/stacks-hierarchy/Root_LoginRequiredForFareProductScreen.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
