Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

feat: fixed a11y for travelSearchFilter (#5647)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchPreference.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: updated TravelSearchFiltersBottomSheet (#5640)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix release
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed order for focus and save
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: remove duplicate code (#5652)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/TravelSearchFiltersBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Collapse markdown paragraph if single token
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bold markdown android
  src/components/text/ThemeText.tsx
  src/components/text/markdown-renderer.tsx
  src/components/text/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new bottomsheet for favoriteDialogSheet
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/favorites/use-on-mark-favourite-departures.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: go back to displaying to token.text
  src/components/text/markdown-renderer.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: make function more readable
  src/components/text/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: rename to getTextWeightStyle
  src/components/text/ThemeText.tsx
  src/components/text/markdown-renderer.tsx
  src/components/text/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bold markdown andriod (#5654)
  src/components/text/ThemeText.tsx
  src/components/text/markdown-renderer.tsx
  src/components/text/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bold and ally label bonus on ticket (#5642)
  src/components/sections/items/LinkSectionItem.tsx
  src/components/text/markdown-renderer.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

fix: bonus on ticket a11y plural (#5650)
  src/translations/screens/subscreens/BonusProgram.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: bold markdown andriod (#5654)
  src/components/text/ThemeText.tsx
  src/components/text/markdown-renderer.tsx
  src/components/text/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Hacky saved specific departure
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/favorites/FavoritesContext.tsx
  src/modules/favorites/storage.ts
  src/modules/favorites/types.ts
  src/modules/favorites/use-on-mark-favourite-departures.tsx
  src/modules/storage/StorageModel.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/translations/screens/Departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed autosave for datePicker
  src/components/date-selection/DatePickerSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added autosave for mapfilter
  src/modules/mobility/components/filter/MapFilterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Made some constraint to moving the map
  src/modules/map/Map.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: navigate directly to confirmation screen from recent fc
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: left align reservation heading
  src/modules/fare-contracts/PurchaseReservation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: navigate directly to confirmation screen from recent fc (#5658)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_PurchaseTabScreen/TicketTabNav_PurchaseTabScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: left align reservation heading (#5659)
  src/modules/fare-contracts/PurchaseReservation.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Support paymentSpecific fields being optional from reserve
  src/modules/ticketing/types.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/use-cancel-payment-mutation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Fixed reserve mution callback
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: new TravellerSelectionSheet (#5639)
  src/components/bottom-sheet-v2/BottomSheetHeader.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/translations/screens/subscreens/PurchaseOverview.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: added new bottomsheet for favoriteDialogSheet (#5609)
  src/departure-list/section-items/FavoriteDialogSheet.tsx
  src/modules/favorites/use-on-mark-favourite-departures.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/travel-details-screens/DepartureDetailsScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Support several products for booking
  src/modules/booking/use-booking-trips.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Moved useProductAlternatives to ticketing module, since it is used several places now
  src/modules/booking/use-booking-trips.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-product-alternatives.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Allow goBack on general basis
  .eslintrc.js
  eslint-rules/navigation-only-in-screens.js
  src/components/screen-header/HeaderButton.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

headeR
  src/components/screen-view/FullScreenView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Also fix usage of use-navigation-to-nested-profile-screen
  eslint-rules/navigation-only-in-screens.js
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/modules/fare-contracts/FareContractAndReservationsList.tsx
  src/modules/fare-contracts/FareContractOrReservation.tsx
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/types.ts
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
  src/stacks-hierarchy/Root_FareContractDetailsScreen.tsx
  src/stacks-hierarchy/Root_LoginAvailableFareContractWarningScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/BonusDashboard.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FareContractsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketHistoryScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/utils/use-nested-profile-screen-params.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @jorunnl

nit
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/hooks.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Remove RootStack-exception since it is implicitly allowed
  .eslintrc.js
Owners: @marius-at-atb, @rosvik, @strandlie

podfile.lock
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

fix: Move focused check out of useTokenToggleDetailsQuery
  src/modules/mobile-token/use-token-toggle-details.ts
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
  src/screen-components/select-travel-token-screen/TokenToggleInfo.tsx
  src/stacks-hierarchy/Root_SelectTravelTokenScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_TravelTokenScreen/Profile_TravelTokenScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Set enabled outside realtime query
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Simplify realtimeFetchingEnabled
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Improve comments
  src/screen-components/place-screen/hooks/use-departures.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use staleTime DEPARTURES_REALTIME_REFETCH_INTERVAL
  src/screen-components/place-screen/hooks/use-departures-realtime-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie
