Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

updated stopplace bottomsheet settings
  src/modules/map/components/DeparturesDialogSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Refactor to more stable react-native-permissions library for camera permission requests
  src/components/camera/use-permissions.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

downgraded bottomsheet version
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

renamed to MapBottomSheet
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-map/index.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Refactor to more stable react-native-permissions library for camera permission requests (#5449)
  src/components/camera/use-permissions.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update age verification illustration
  package.json
  src/modules/map/MapV2.tsx
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/theme/ThemedAssets.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: revert changes in map
  src/modules/map/MapV2.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove unused import
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

build: add maven central as android dependency repository (#5448)
  android/build.gradle
Owners: @rosvik, @reidzeibel

fix: update age verification illustration (#5450)
  package.json
  src/modules/mobility/components/onboarding/AgeVerificationScreenComponent.tsx
  src/theme/ThemedAssets.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade marked to latest version
  package.json
  src/components/text/markdown-renderer.tsx
  src/components/text/strip-markdown.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fixed update depth bug
  src/components/bottom-sheet-map/BottomSheetTopPositionBridge.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/mobility/queries/use-send-shmo-booking-event-mutation.tsx
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added memo on the overlay for the bottomsheet to fix excessive updates
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added shadow for bottomsheet
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump Mobile Token SDK, since Xcode 26 breaks the SDK
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

added brandingimage component
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fixed type assertion
  src/modules/map/MapBottomSheets.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

changed positionArrow to locationArrow
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/modules/map/ExploreLocationMap.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/map/components/LocationArrow.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/components/external-realtime-map/ExternalRealtimeMapSheet.tsx
  src/modules/map/index.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/filter/MapFilterSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishingScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added reusable shadows
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

clened up useControlPositionsStyle
  src/modules/map/hooks/use-control-styles.ts
Owners: @marius-at-atb, @rosvik, @strandlie

renamed function
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: PR feedback
  src/modules/fare-contracts/components/SentToMessageBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: show on behalf of information in ticket details (#5451)
  src/modules/fare-contracts/components/SentToMessageBox.tsx
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractHeaderSectionItem.tsx
  src/translations/screens/FareContract.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade minor and patch releases of deps
  ios/Podfile.lock
  package.json
  patches/react-native-date-picker+5.0.13.patch
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Downgrade react to 19.1.0 again so it doesn't conflict with react-native-renderer
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Downgrade test-renderer too
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Added feature-toggle and fetch function for distances-API
  src/api/bff/stop-places.ts
  src/api/client.ts
  src/modules/feature-toggles/toggle-specifications.ts
  src/modules/remote-config/remote-config.ts
  src/queries/use-connections-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Upgrade minor and patch releases of deps (#5454)
  ios/Podfile.lock
  package.json
  patches/react-native-date-picker+5.0.13.patch
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Upgrade marked to latest version
  package.json
  src/components/text/markdown-renderer.tsx
  src/components/text/strip-markdown.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Removed forgotten bff-hack
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Bump Mobile Token SDK, since Xcode 26 breaks the SDK
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Also upgraded @entur-private/abt-mobile-barcode-javascript-lib
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Upgrade marked to latest version (#5452)
  package.json
  src/components/text/markdown-renderer.tsx
  src/components/text/strip-markdown.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Updated Podfile.lock after rebase
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

feat: Added feature-toggle and fetch function for distances-API (#5455)
  src/api/bff/stop-places.ts
  src/modules/feature-toggles/toggle-specifications.ts
  src/modules/remote-config/remote-config.ts
  src/queries/use-connections-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: update fram ios-devices
  env/fram/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: Bump Mobile Token SDK, since Xcode 26 breaks the SDK (#5453)
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: update fram ios-devices (#5456)
  env/fram/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: fix ios-devices list for fram and nfk
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
Owners: @rosvik, @reidzeibel

chore: fix ios-devices list for fram and nfk (#5458)
  env/fram/ios-devices.txt
  env/nfk/ios-devices.txt
Owners: @rosvik, @reidzeibel
