Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

feat: Add PostHog-event for screenshot capture (#5751)
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump to version 1.80
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

docs: remove register app version step from Release.md
  docs/Release.md
Owners: @marius-at-atb, @rosvik, @strandlie

feat: fixed screenreader bug in favoritesBottomSheet (#5752)
  src/modules/fare-contracts/sections/FareContractShmoHeaderSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed issue where you had to press two times to take picture (#5746)
  src/components/PhotoCapture/PhotoCapture.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix build version issue if using cached APK
  scripts/android/replace-bundle.sh
Owners: @rosvik, @reidzeibel

moved extraction of operatorName to useSystem
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/use-system.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

small fix in order
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

docs: remove register app version step from Release.md (#5753)
  docs/Release.md
Owners: @marius-at-atb, @rosvik, @strandlie

append branch name to the version name
  .github/actions/android-post-build-steps/action.yml
  .github/workflows/build-staging-android.yml
  scripts/android/replace-bundle.sh
  scripts/set-version-name.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix wrong path
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix wrong reference
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

feat: Add PostHog-event for screenshot capture (#5751)
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: Bump to version 1.80 (#5754)
  e2e/package.json
  env/atb/dev/.env
  env/atb/prodstaging/.env
  env/atb/staging/.env
  env/atb/store/.env
  env/fram/dev/.env
  env/fram/staging/.env
  env/fram/store/.env
  env/nfk/dev/.env
  env/nfk/prodstaging/.env
  env/nfk/staging/.env
  env/nfk/store/.env
  env/troms/dev/.env
  env/troms/staging/.env
  env/troms/store/.env
  package.json
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

update release notes
  .github/actions/android-post-build-steps/action.yml
  .github/workflows/build-staging-android.yml
  fastlane/Fastfile
  scripts/generate-staging-release-notes.sh
  scripts/set-version-name.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

rename file
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

build: improvement on Android build (#5742)
  .github/actions/android-build-cleanup-runner/action.yml
  .github/actions/android-post-build-steps/action.yml
  .github/actions/android-pre-build-steps/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/check-ccache-stats.yml
  android/app/build.gradle
  android/app/src/main/java/no/mittatb/MainApplication.kt
  android/build.gradle
  fastlane/Fastfile
  scripts/android/replace-bundle.sh
  scripts/android/run-android.sh
  scripts/generate-staging-release-notes.sh
  scripts/set-version-name.sh
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

Revert "feat: Add PostHog-event for screenshot capture (#5751)"
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Add PostHog-event for screenshot capture (#5751)
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/modules/analytics/AnalyticsContext.tsx
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

fix: don't mount SupplementPurchaseButton if no reservation product
  src/modules/fare-contracts/components/TravelInfoSectionItem.tsx
  src/modules/fare-contracts/sections/FareContractInfoDetailsSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Disable SupplementPurchaseButton when product does not have reservationProduct
  src/modules/fare-contracts/components/SupplementPurchaseButton.tsx
  src/modules/fare-contracts/use-supplement-product-purchase-selection.ts
  src/modules/fare-contracts/utils.ts
  src/modules/purchase-selection/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: adjust periodic ticket booking offer search (#5749)
  src/api/sales.ts
  src/api/types/sales.ts
  src/modules/booking/use-booking-trips.ts
  src/modules/fare-contracts/components/SupplementPurchaseButton.tsx
  src/modules/fare-contracts/use-supplement-product-purchase-selection.ts
  src/modules/fare-contracts/utils.ts
  src/modules/purchase-selection/utils.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TripSelectionScreen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: adjust periodic ticket booking offer search (#5749)
  src/api/sales.ts
  src/api/types/sales.ts
  src/modules/booking/use-booking-trips.ts
  src/modules/fare-contracts/components/SupplementPurchaseButton.tsx
  src/modules/fare-contracts/use-supplement-product-purchase-selection.ts
  src/modules/fare-contracts/utils.ts
  src/modules/purchase-selection/utils.ts
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TripSelectionScreen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

made the favoritesbottomsheet stable, to prevent sideeffects
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: set placeholderData to 0
  src/modules/bonus/queries/use-bonus-balance-query.tsx
Owners: @rosvik, @marius-at-atb, @jorunnl

fix: Add props type for refrech control memo
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

moved memo into the component
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixed navigation bug in SelectFavoritesBottomSheet (#5757)
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: using operatorname from operatorQuery in scootersheet (#5750)
  src/modules/mobility/use-system.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Reimplement ParallaxScroll with Reanimated and simpler header handling (#5721)
  src/components/parallax-scroll/ParallaxScroll.tsx
  src/components/screen-view/FullScreenView.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/Dashboard_TripSearchScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PaymentMethodsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Move appliesToAppPlaform and appliesToAppVersion to utils
  src/modules/announcements/converters.ts
  src/utils/converters.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Reuse appliesToAppVersion func
  src/utils/is-product-sellable-in-app.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Get urls instead of url for mapbox sprite and tile server from firestore
  package.json
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/configuration/converters.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

Create and use useAppVersionedConfigurableLink
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-tile-url-template.tsx
  src/utils/converters.ts
  src/utils/types.ts
  src/utils/use-app-versioned-configurable-link.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Fix comment
  src/utils/use-app-versioned-configurable-link.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add personalisation program point event handling (#5748)
  src/modules/bonus/api/api.ts
  src/modules/bonus/queries/use-bonus-balance-query.tsx
  src/modules/bonus/queries/use-buy-value-code-with-bonus-points-query.tsx
  src/modules/event-stream/handle-stream-event.ts
  src/modules/event-stream/types.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: move NearbyStopPlacesScreen back button
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: create SelectFavouriteDeparturesScreen
  src/screen-components/favorite-departures/SelectFavoriteDeparturesScreenComponent.tsx
  src/screen-components/favorite-departures/components/FavoriteLineItem.tsx
  src/screen-components/favorite-departures/components/FavoriteLineList.tsx
  src/screen-components/favorite-departures/index.tsx
  src/screen-components/place-screen/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavouriteDepartureScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/TabNav_DashboardStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/navigation-types.ts
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SelectFavouriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/TabNav_ProfileStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove "Favorite" departures mode
  src/components/estimated-call/EstimatedCallInfo.tsx
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/types.ts
  src/screen-components/place-screen/PlaceScreenComponent.tsx
  src/screen-components/place-screen/components/EstimatedCallItem.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/place-screen/components/QuaySection.tsx
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_SelectFavouriteDepartureScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/TabNav_DeparturesStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_DepartureDetailsScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_FavoriteDeparturesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: make FavoriteLineItem a section item
  src/screen-components/favorite-departures/components/FavoriteLineItem.tsx
  src/screen-components/favorite-departures/components/FavoriteLineList.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
