Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

refactor: use text styles for departure time styling
  src/departure-list/section-items/line.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: support Announcement sort by index
  src/modules/announcements/converters.ts
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: First commit (not working)
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/use-selectable-supplementary-products.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-user-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Added SupplementProduct from config-specs
  package.json
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/configuration/converters.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/use-selectable-supplementary-products.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

feat: Very close
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/index.ts
  src/modules/purchase-selection/use-selectable-supplement-products.ts
  src/modules/purchase-selection/use-selectable-supplementary-products.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/SingleTravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-supplement-product-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-user-count-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Added working bike ticket from Firestore
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/configuration/converters.ts
  src/modules/fare-contracts/index.ts
  src/modules/fare-contracts/types.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/modules/purchase-selection/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-supplement-product-count-state.ts
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

feat: Implemented mapping from supplementProduct to illustration
  package.json
  src/components/sections/items/CounterSectionItem.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/MultipleTravellersSelection.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Added working bike ticket
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/__tests__/test-utils.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
  src/modules/purchase-selection/use-selectable-supplement-products.ts
  src/modules/purchase-selection/utils.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelectionSheet.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Travellers/use-supplement-product-count-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: Fixed 100% code coverage in purchase selection
  src/modules/purchase-selection/__tests__/purchase-selection-builder-from-selection.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-product.test.ts
  src/modules/purchase-selection/__tests__/purchase-selection-builder-user-profiles.test.ts
  src/modules/purchase-selection/purchase-selection-builder.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: support Announcement sort by index (#5569)
  src/modules/announcements/converters.ts
  src/modules/announcements/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: clean up hard coded text styling (#5568)
  src/departure-list/section-items/line.tsx
  src/screen-components/travel-details-screens/components/TripSection.tsx
  src/stacks-hierarchy/Root_ConsiderTravelTokenChangeScreen/Root_ConsiderTravelTokenChangeScreen.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationResults.tsx
  src/stacks-hierarchy/Root_LocationSearchByTextScreen/components/LocationSearchContent.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/Root_PurchaseFareZonesSearchByTextScreen.tsx
  src/stacks-hierarchy/Root_PurchaseFareZonesSearchByTextScreen/VenueResults.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use component directly
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: rename prop
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove redundant prop
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add comment
  src/modules/map/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: fixes to header changes after feedback (#5563)
  src/screen-components/nearby-stop-places/NearbyStopPlacesScreenComponent.tsx
  src/screen-components/nearby-stop-places/components/StopPlaces.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_NearbyStopPlacesScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/Dashboard_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_NearbyStopPlacesScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Rushed commit :)
  package.json
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/ticketing/api.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

Use vector source for geofencing zones
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-tile-url-template.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Order and onPress fix
  src/components/snackbar/use-snackbar.tsx
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Revert Snackbar change
  src/modules/map/Map.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Log cleanups
  src/components/snackbar/use-snackbar.tsx
  src/modules/map/Map.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

LineLayer filter fix
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Support systemId input
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-tile-url-template.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Fix get gfz code
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Remove unused imports
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

gfzCode -> geofencingZoneCode
  src/modules/map/hooks/use-geofencing-zone-content.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Update use-tile-url-template.tsx
  src/modules/map/hooks/use-tile-url-template.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Support station parking prop
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-geofencing-zone-content.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: avoid null component in Section
  src/modules/fare-contracts/FareContractView.tsx
  src/modules/fare-contracts/components/ConsumeCarnetSectionItem.tsx
  src/modules/fare-contracts/details/DetailsContent.tsx
  src/modules/ticketing/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: enable stream service on active and authenticated
  src/modules/event-stream/use-setup-event-stream.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: validate idToken on getIdTokenGlobal
  src/modules/auth/AuthContext.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add id-token decoder
  package.json
  src/modules/auth/__test__/decode-id-token.test.ts
  src/modules/auth/id-token.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: only set Authorization header if it is defined
  src/api/client.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Rename gfzCode -> geofencingZoneCode
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Extract getPropByVehicleTypeId and fix snackbar bug
  src/components/snackbar/Snackbar.tsx
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added new camera component and cameraScreenWrapper
  package.json
  src/components/PhotoCapture/PhotoCapture.tsx
  src/components/PhotoCapture/ScreenContainer.tsx
  src/components/camera/Camera.tsx
  src/components/camera/CameraScreenContainer.tsx
  src/components/camera/index.ts
  src/stacks-hierarchy/Root_ScanQrCodeScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/translations/components/Camera.tsx
  src/translations/screens/ParkingViolations.ts
  src/translations/screens/subscreens/MobilityTexts.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fixed some styling and a11y
  src/components/camera/Camera.tsx
  src/components/camera/CameraScreenContainer.tsx
  src/translations/components/Camera.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: wait for valid token before sending ws AUTH message
  src/modules/event-stream/use-setup-event-stream.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add event.meta to eventLog key
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update button background colors on assistant
  src/modules/favorites/FavoriteChips.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie
