Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

renamed const to a function name
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapConfig.ts
  src/modules/map/MapV2.tsx
  src/modules/map/components/mobility/Vehicles.tsx
  src/modules/map/index.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: Refactor zones into own hook
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/Announcements.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add posthog events to SP&R events
  src/modules/analytics/types.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use configurable link for read more link
  package.json
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add missing mapping in Firestore context
  src/modules/configuration/FirestoreConfigurationContext.tsx
Owners: @rosvik, @reidzeibel

removed unused code in activeScooterSheet
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add posthog events to SP&R events (#5468)
  package.json
  src/modules/analytics/types.ts
  src/modules/configuration/FirestoreConfigurationContext.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

simplified if statement
  src/components/bottom-sheet-map/MapBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

added zoomlevel on scan qr
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/mapStateReducer.ts
Owners: @marius-at-atb, @rosvik, @strandlie

removed unused code
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

created a reusable variable CUSTOM_SCAN_ZOOM_LEVEL
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/index.ts
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: camera move effect refactor (#5469)
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapConfig.ts
  src/modules/map/MapContext.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/components/mobility/Vehicles.tsx
  src/modules/map/hooks/use-decide-camera-focus-mode.tsx
  src/modules/map/hooks/use-trigger-camera-move-effect.tsx
  src/modules/map/index.ts
  src/modules/map/mapStateReducer.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/filter/MapFilter.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump kettle to v1.4.1
  android/app/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

Upgrade zod and utils
  package.json
  src/modules/map/types.ts
  src/stacks-hierarchy/Root_ScooterHelp/Root_ContactScooterOperatorScreen.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fixed hidden scan button issue
  src/modules/map/components/MapButtons.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): set stale time of vehicle registrations query
  src/modules/smart-park-and-ride/queries/use-get-vehicle-registrations-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): set stale time of vehicle registrations query (#5471)
  src/modules/smart-park-and-ride/queries/use-get-vehicle-registrations-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed iconbug in header
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/mobility/components/BrandingImage.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: e2e performance measure improvements (#5423)
  e2e/scripts/run-flashlight-tests.sh
  e2e/test/flashlight/performanceMeasures.e2e.ts
  e2e/test/flashlight/performanceMeasures_departures.e2e.ts
  e2e/test/flashlight/performanceMeasures_map.e2e.ts
  e2e/test/flashlight/performanceMeasures_tickets.e2e.ts
  e2e/test/flashlight/performanceMeasures_travelsearch.e2e.ts
  e2e/test/pageobjects/map.page.ts
  e2e/test/pageobjects/ticket.buy.page.ts
  e2e/test/pageobjects/travelsearch.overview.page.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/visualTests/specs/visual.travelsearch.e2e.ts
  src/screen-components/ticket-history/TicketHistoryScreenComponent.tsx
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel, @marius-at-atb, @strandlie

fix(spar): reword posthog event
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use formatNumberToString from utils
  package.json
  src/modules/fare-contracts/sections/OrderDetailsSectionItem.tsx
  src/modules/mobility/components/PricingPlan.tsx
  src/modules/mobility/components/VehicleCard.tsx
  src/modules/mobility/utils.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/components/PriceSummary.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/FlexTicketDiscountInfo.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/Summary.tsx
  src/translations/screens/subscreens/MobilityTexts.ts
  src/utils/__tests__/numbers.test.ts
  src/utils/numbers.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix(spar): reword posthog event (#5472)
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

ci: use cache by default when manually creating android builds (#5463)
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

test: android behaviour changes
  e2e/test/utils/alert.helper.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

test: change to find journey
  e2e/test/flashlight/performanceMeasures_tickets.e2e.ts
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/pageobjects/travelsearch.overview.page.ts
  e2e/test/specs/auth.0.cleanup.e2e.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/onboarding.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

Upgrade
  babel.config.js
  package.json
  src/modules/map/types.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use react-native-image-resizer for image compression (#5462)
  ios/Podfile.lock
  package.json
  src/stacks-hierarchy/Root_ParkingPhotoScreen.tsx
  src/stacks-hierarchy/Root_ScooterHelp/Root_ParkingViolationsQrScreen.tsx
  src/utils/image.ts
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

test: e2e updates (#5475)
  e2e/test/flashlight/performanceMeasures_tickets.e2e.ts
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/pageobjects/travelsearch.overview.page.ts
  e2e/test/specs/auth.0.cleanup.e2e.ts
  e2e/test/specs/auth.1.token.e2e.ts
  e2e/test/specs/auth.2.ticket.buy.e2e.ts
  e2e/test/specs/auth.3.ticket.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/onboarding.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
  e2e/test/utils/alert.helper.ts
Owners: @rosvik, @tormoseng, @hanne-at-atb, @reidzeibel

fixed scroll for bottomsheets with lists etc
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/index.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

chore: bump npm package to 1.4.2
  android/app/build.gradle
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: bump podfile as well
  ios/Podfile.lock
Owners: @rosvik, @reidzeibel

improved bottomsheets and created minimized versions
  src/components/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/ParkAndRideBottomSheet.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
  src/modules/mobility/components/sheets/FinishedScooterSheet.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/components/sheets/SelectShmoPaymentMethodsSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add corrrect utils version
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

moved function to utils
  src/modules/mobility/components/BrandingImage.tsx
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: upgrade kettle to v1.4.1 (#5459)
  android/app/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

refactor: swap read out / onPress order
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: announce radio button selection changes on android (#5435)
  src/components/sections/items/RadioSectionItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

created a hook for stopplace data to reuse in two components
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-stop-places-data.ts
  src/screen-components/place-screen/index.tsx
  src/screen-components/place-screen/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fixed lint error
  src/modules/map/components/DeparturesDialogSheet.tsx
  src/screen-components/place-screen/components/QuayView.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

test: fix some calculations after tests
  .github/workflows/test-performance-android.yml
  e2e/performance/createPerformanceSummary.ts
  e2e/scripts/run-flashlight-tests.sh
Owners: @rosvik, @reidzeibel, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel
