Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

fix: move rentalappquery params logic to OperatorActionButton and use in all operator bottom sheets
  package.json
  src/api/utils.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/OperatorActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

test: collect xml results for post-evaluations
  .github/workflows/test-e2e-android.yml
Owners: @rosvik, @reidzeibel

feat: Added bottom sheet for adding overrides
  src/modules/debug/DebugServerOverrides.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: get operator inside OperatorActionButton
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/OperatorActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: rename file and update limit logic
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add rentalApiUriQueryParams to scooter operators (#5526)
  package.json
  src/api/utils.ts
  src/modules/mobility/components/BicycleSheet.tsx
  src/modules/mobility/components/BikeStationBottomSheet.tsx
  src/modules/mobility/components/CarSharingStationBottomSheet.tsx
  src/modules/mobility/components/OperatorActionButton.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use type instead of string
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: continue onboarding when closing
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: use arrow icon
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: change header close button text
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: improve carousel closing
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/onboarding/use-onboarding-navigation.ts
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

test: collect xml results for post-evaluations (#5554)
  .github/workflows/test-e2e-android.yml
Owners: @rosvik, @reidzeibel

refactor: linking
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update trip search ResultItem styling
  src/components/icon-box/CounterIconBox.tsx
  src/components/icon-box/TransportationIconBox.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add more spacing around departure times
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Revert "feat: update travel details realtime text styling"
  src/screen-components/travel-details-screens/components/Time.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: remove bold styling for departureTimes
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update travel details realtime text styling
  src/screen-components/travel-details-screens/components/Time.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove LegDash component
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: add offset to index
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat(spar): add contact info onboarding screen (#5553)
  src/modules/bonus/onboarding/BonusOnboarding_BuyTickets.tsx
  src/modules/bonus/onboarding/BonusOnboarding_Download.tsx
  src/modules/bonus/onboarding/BonusOnboarding_MoreTravelMethods.tsx
  src/modules/bonus/onboarding/BonusOnboarding_WelcomeScreen.tsx
  src/modules/onboarding/extended-onboarding/ExtendedOnboarding_GoodToKnowScreen.tsx
  src/modules/onboarding/onboarding-carousel/index.ts
  src/modules/onboarding/onboarding-carousel/use-navigate-to-next-onboarding-screen.ts
  src/modules/onboarding/onboarding-carousel/use-onboarding-carousel-navigation.ts
  src/modules/onboarding/use-onboarding-navigation.ts
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AddScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_AutomaticRegistrationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_InformationScreen.tsx
  src/modules/smart-park-and-ride/onboarding/config.ts
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/screen-components/smart-park-and-ride/index.ts
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @rosvik, @marius-at-atb, @jorunnl, @strandlie

fix: GeofencingZoneKey -> GeofencingZoneCode
  package.json
  src/components/icon-box/GeofencingZoneIconBox.tsx
  src/components/icon-box/utils.ts
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/types.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Key -> Code
  src/components/icon-box/utils.ts
  src/modules/map/types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add icons to geofence snackbar (#5545)
  package.json
  src/components/icon-box/GeofencingZoneIconBox.tsx
  src/components/icon-box/index.ts
  src/components/icon-box/utils.ts
  src/components/snackbar/Snackbar.tsx
  src/modules/map/MapV2.tsx
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/modules/storybook/stories/Snackbar.stories.tsx
  src/translations/screens/subscreens/MobilityTexts.ts
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fixed voiceover focus for android and small fix for toggle favorites a11y text
  src/components/bottom-sheet-v2/BottomSheetV2Context.tsx
  src/components/bottom-sheet-v2/bottom-sheet-modal/BottomSheetModal.tsx
  src/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/DeparturesWidget.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_RootScreen/components/SelectFavouritesBottomSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update contact link to use full URL and change translation text for link
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update contact link to use full URL and change translation text for link (#5555)
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Owners: @marius-at-atb, @rosvik, @strandlie

deleted unused code
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/filter/FormFactorFilter.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/use-stations.tsx
  src/modules/mobility/use-vehicles-poll-interval.tsx
  src/modules/mobility/use-vehicles.tsx
  src/modules/mobility/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: removed isMapV2Enabled feature flag and cleaned up some code (#5524)
  src/components/bottom-sheet/BottomSheetContext.tsx
  src/fare-zones-selector/FareZonesSelectorMap.tsx
  src/modules/feature-toggles/toggle-specifications.ts
  src/modules/map/ExploreLocationMap.tsx
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/components/MapButtons.tsx
  src/modules/map/components/mobility/BikeStations.tsx
  src/modules/map/components/mobility/CarStations.tsx
  src/modules/map/components/mobility/Stations.tsx
  src/modules/map/components/mobility/Vehicles.tsx
  src/modules/map/components/mobility/index.ts
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/index.ts
  src/modules/map/types.ts
  src/modules/map/utils.ts
  src/modules/mobility/components/filter/FormFactorFilter.tsx
  src/modules/mobility/components/filter/MobilityFilters.tsx
  src/modules/mobility/components/sheets/ScooterSheet.tsx
  src/modules/mobility/index.ts
  src/modules/mobility/use-stations.tsx
  src/modules/mobility/use-vehicles-poll-interval.tsx
  src/modules/mobility/use-vehicles.tsx
  src/modules/mobility/utils.ts
  src/screen-components/travel-details-map-screen/TravelDetailsMapScreenComponent.tsx
  src/screen-components/travel-details-map-screen/components/CompactTravelDetailsMap.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_RootScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/TabNav_MapStack.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/navigation-types.ts
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: add isIntermediateFootLeg util
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update realtime and ResultItem styling (#5511)
  src/components/icon-box/CounterIconBox.tsx
  src/components/icon-box/TransportationIconBox.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_TripSearchScreen/components/ResultItem.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: add geofencing zone icons to active scooter sheet
  src/modules/map/hooks/use-geofencing-zone-content.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/mobility/components/sheets/ActiveScooterSheet.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: update typography names after rebase
  src/modules/smart-park-and-ride/onboarding/SmartParkAndRideOnboarding_ContactInfoScreen.tsx
  src/screen-components/smart-park-and-ride/Root_SmartParkAndRideAddScreenComponent.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: show font variants in design system screen on Android
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DesignSystemScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: remove font overrides
  src/theme/colors.ts
Owners: @marius-at-atb, @rosvik, @strandlie

chore: update Roboto font files, and remove from iOS build
  android/app/src/main/assets/fonts/Roboto-Bold.ttf
  android/app/src/main/assets/fonts/Roboto-Medium.ttf
  android/app/src/main/assets/fonts/Roboto-SemiBold.ttf
  assets/fonts/Roboto-Bold.ttf
  assets/fonts/Roboto-Regular.ttf
  assets/fonts/android/Roboto-Medium.ttf
  assets/fonts/android/Roboto-Regular.ttf
  assets/fonts/android/Roboto-SemiBold.ttf
  ios/atb.xcodeproj/project.pbxproj
  ios/atb/Info.plist
  react-native.config.js
Owners: @rosvik, @reidzeibel, @marius-at-atb, @strandlie

chore: bump theme to v15.0.0
  package.json
  yarn.lock
Owners: @marius-at-atb, @rosvik, @strandlie

fix: map design system fontWeights to Roboto fontFamily
  src/components/text/ThemeText.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Add and use mapboxNsrSourceLayerId, mapboxNsrTilesetId and mapboxUserName in remote config
  src/modules/map/components/national-stop-registry-features/nsr-utils.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-circle-layers.ts
  src/modules/map/components/national-stop-registry-features/use-nsr-symbol-layers.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/mapbox-styles/mapbox-dark-style.ts
  src/modules/map/mapbox-styles/mapbox-light-style.ts
  src/modules/remote-config/remote-config.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Rename mapbox style files
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/mapbox-styles/get-mapbox-dark-style.ts
  src/modules/map/mapbox-styles/get-mapbox-light-style.ts
Owners: @marius-at-atb, @rosvik, @strandlie
