Repository AtB-AS/mittatb-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel, @Dahly96, @jorunnl, @tormoseng, @hanne-at-atb

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @reidzeibel
/env/ @rosvik @reidzeibel
/fastlane/ @rosvik @reidzeibel
/scripts/ @rosvik @reidzeibel
/tools/ @rosvik @reidzeibel

# Configuration
/src/modules/configuration/ @rosvik @reidzeibel

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel
/ios/ @rosvik @reidzeibel

try adding cache to main file instead of inside actions.yml
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-ios.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

more fix staging ios
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

change to single quote for cache path
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

test node modules change
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

test pods directory
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

test ios pods directory
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

pod install and pod cache test
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

pod install
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

restore steps into actions.yml
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-ios.yml
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

add missing shell
  .github/actions/ios-build-setup/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

use cocoapods install from fastlane
  .github/actions/ios-build-setup/action.yml
Owners: @marius-at-atb, @rosvik, @strandlie

skip pods if not necessary
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-ios.yml
  fastlane/Fastfile
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

detect podfile changes to decide if we need to run pod install or not
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

fix ios build
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

skip cache pods if podfile changes
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

revert skip pods to see if build works again
  .github/workflows/build-staging-ios.yml
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

test skipping pods again
  .github/workflows/build-staging-ios.yml
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

skip fastfile pods for staging builds
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

disable skip pods for now
  fastlane/Fastfile
Owners: @rosvik, @reidzeibel

disable cache pods staging
  .github/workflows/build-staging-ios.yml
Owners: @rosvik, @reidzeibel

Remove unused isFocused
  src/screen-components/place-screen/PlaceScreenComponent.tsx
  src/screen-components/place-screen/components/QuayView.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

Use just one useNow
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/place-screen/components/QuaySection.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: departures with realtime data using tanstack query (#5645)
  src/api/bff/departures.ts
  src/api/client.ts
  src/departure-list/utils.ts
  src/screen-components/place-screen/PlaceScreenComponent.tsx
  src/screen-components/place-screen/components/EstimatedCallList.tsx
  src/screen-components/place-screen/components/QuaySection.tsx
  src/screen-components/place-screen/components/QuayView.tsx
  src/screen-components/place-screen/components/StopPlacesSheetView.tsx
  src/screen-components/place-screen/components/StopPlacesView.tsx
  src/screen-components/place-screen/hooks/use-departures-data.ts
  src/screen-components/place-screen/hooks/use-departures-query.ts
  src/screen-components/place-screen/hooks/use-departures.ts
  src/screen-components/place-screen/index.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DashboardStack/Dashboard_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_DeparturesStack/Departures_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_MapStack/Map_PlaceScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_PlaceScreen.tsx
  src/utils/date.ts
Owners: @marius-at-atb, @rosvik, @strandlie

added way to collapse bottomsheet when navigating in map
  src/components/bottom-sheet-v2/BottomSheetV2Context.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/components/bottom-sheet-v2/index.ts
  src/modules/map/Map.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Support several products for booking
  src/modules/booking/use-booking-trips.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: Moved useProductAlternatives to ticketing module, since it is used several places now
  src/modules/booking/use-booking-trips.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-product-alternatives.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: Support several products for booking (#5661)
  src/modules/booking/use-booking-trips.ts
  src/modules/ticketing/index.ts
  src/modules/ticketing/use-product-alternatives.ts
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: more github actions improvements (#5665)
  .github/actions/ios-build-setup/action.yml
  .github/workflows/build-staging-android.yml
  .github/workflows/build-staging-ios.yml
  fastlane/Fastfile
Owners: @marius-at-atb, @rosvik, @strandlie, @reidzeibel

fix: remove failed reservations if they're older than any fare contract
  src/modules/fare-contracts/__tests__/sort-fc-or-reservation.test.ts
  src/modules/fare-contracts/sort-fc-or-reservation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update full refresh interval in departures to 5 minutes
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: update full refresh interval in departures to 5 minutes (#5668)
  src/screen-components/place-screen/hooks/use-departures-query.ts
Owners: @marius-at-atb, @rosvik, @strandlie

feat: temporarily disable apk caching for Android builds
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel

fix: reword the login method information to show only phone number
  src/translations/screens/subscreens/EditProfileScreen.ts
Owners: @marius-at-atb, @rosvik, @strandlie

simplified flyToanimation and fixed onpress collapse to handle featureclicks
  src/components/bottom-sheet-v2/BottomSheetV2Context.tsx
  src/components/bottom-sheet-v2/bottom-sheet-map/MapBottomSheet.tsx
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
  src/modules/map/MapContext.tsx
  src/modules/map/hooks/use-fly-to-selected-map-item-with-padding.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

refactor: use tanstack query for vipps login
  src/api/identity.ts
  src/modules/auth/index.ts
  src/modules/auth/use-authenticate-vipps.tsx
  src/stacks-hierarchy/Root_LoginOptionsScreen.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

fix: remove failed reservations if they're older than any fare contract (#5667)
  src/modules/fare-contracts/__tests__/sort-fc-or-reservation.test.ts
  src/modules/fare-contracts/sort-fc-or-reservation.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Use vehicleTypeId as tile param
  src/modules/map/Map.tsx
  src/modules/map/components/mobility/GeofencingZones.tsx
  src/modules/map/hooks/use-map-view-config.ts
  src/modules/map/hooks/use-mapbox-json-style.tsx
  src/modules/map/hooks/use-shmo-warnings.tsx
  src/modules/map/utils.ts
Owners: @marius-at-atb, @rosvik, @strandlie

Gfz not volatile
  src/modules/map/components/mobility/GeofencingZones.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

improved autoclose functionality
  src/modules/map/Map.tsx
  src/modules/map/MapBottomSheets.tsx
Owners: @marius-at-atb, @rosvik, @strandlie

feat: temporarily disable apk caching for Android builds (#5669)
  .github/workflows/build-staging-android.yml
Owners: @rosvik, @reidzeibel
