Repository AtB-AS/mittatb-app, pull requests merged in 2024-10, with the labels that each got.

#4747 test: run app tests on previous ubuntu
  .github/workflows/test-e2e-android.yml
  .github/workflows/test-performance-android.yml
Labels: Test

#4751 refactor: Use tGlobal to not make Alert functions reactive to language
  src/GeolocationContext.tsx
  src/mobility/components/OperatorActionButton.tsx
  src/mobility/show-app-missing-alert.tsx
  src/mobility/use-app-missing-alert.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DeleteProfileScreen.tsx
Labels: :wrench: Maintenance, App

#4755 feat: Add PurchaseSelectionType
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/navigation-types.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/Root_PurchaseOverviewScreen.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/ProductSelectionByProducts.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-defaults.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/use-offer-state.ts
  src/stacks-hierarchy/Root_TicketAssistantStack/TicketAssistant_CategoryPickerScreen.tsx
  src/stacks-hierarchy/Root_TicketAssistantStack/TicketAssistant_SummaryScreen/TicketAssistant_SummaryScreen.tsx
  src/stacks-hierarchy/types.ts
Labels: :wrench: Maintenance, App

#4768 refactor: ThemeIcon undefined svg safeguard
  src/components/theme-icon/ThemeIcon.tsx
Labels: App, :bug: Bug
