Repository AtB-AS/mittatb-app, pull requests merged in 2025-07, with the labels that each got.

#5310 refactor: remove popover component
  e2e/test/flashlight/performanceMeasures.e2e.ts
  e2e/test/specs/ticket.e2e.ts
  e2e/test/utils/app.helper.ts
  package.json
  src/components/popover/PopOver.tsx
  src/components/popover/index.ts
  src/index.tsx
  src/modules/popover/PopOverContext.tsx
  src/modules/popover/index.ts
  src/modules/popover/types.ts
  src/modules/popover/use-one-time-popover.tsx
  src/modules/storage/StorageModel.tsx
  src/screen-components/loading-screen/use-is-loading-app-state.ts
  src/stacks-hierarchy/Root_PurchaseOverviewScreen/components/TravellerSelection.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/translations/components/OneTimePopOver.ts
  yarn.lock
Labels: :wrench: Maintenance, App

#5316 test: fix e2e filter tests
  e2e/test/pageobjects/travelsearch.filter.page.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
  src/components/radio/RadioSegments.tsx
Labels: Test

#5320 feat(spar): show error when edit/delete fails
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideEditScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Labels: App, Smart🅿️ark&Ride

#5327 fix: use expanded true for buttons in onboarding screens
  src/stacks-hierarchy/Root_ConsiderTravelTokenChangeScreen/Root_ConsiderTravelTokenChangeScreen.tsx
  src/stacks-hierarchy/Root_ConsiderTravelTokenChangeScreen/components/NoTravelTokenInfo.tsx
  src/stacks-hierarchy/Root_PurchaseAsAnonymousConsequencesScreen.tsx
Labels: App, :bug: Bug

#5330 feat: add voice over to label/Tag
  src/components/sections/items/ExpandableSectionItem.tsx
  src/components/sections/items/LinkSectionItem.tsx
  src/components/sections/items/ToggleSectionItem.tsx
  src/components/tag/Tag.tsx
  src/modules/bonus/components/EarnedBonusPointsSectionItem.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DesignSystemScreen.tsx
  src/translations/components/TagInfo.ts
Labels: App

#5338 feat(spar): hide add button if max no. of vehicles
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_SmartParkAndRideScreen.tsx
  src/translations/screens/subscreens/SmartParkAndRide.ts
Labels: App, Smart🅿️ark&Ride

#5345 fix(spar): skip error logging when 400 for search-vehicle
  src/modules/smart-park-and-ride/api/api.ts
Labels: App, Smart🅿️ark&Ride
