Repository AtB-AS/mittatb-app, pull requests merged in 2025-08, with the labels that each got.

#5360 fix: Added safeAreaInsets in SelectTravelTokenScreenComponent
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
Labels: App, :bug: Bug

#5387 fix(spar): use correct secondary button color
  src/stacks-hierarchy/Root_SmartParkAndRide/Root_SmartParkAndRideAddScreen.tsx
Labels: App, Smart🅿️ark&Ride

#5384 test: update baseline images for visual tests
  e2e/results/.gitignore
  e2e/screenshots/visualTests/baseline/departures_departureDetailsContent-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAid-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_journeyAidSection-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/departures_quay0-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/frontpage-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_nightTicket2-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_purchaseSummary-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_singleTicketElem-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/tickets_ticketInformationNight-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_bottom-android-1080x2340.png
  e2e/screenshots/visualTests/baseline/travelSearch_filter_top-android-1080x2340.png
  e2e/test/visualTests/specs/visual.travelsearch.e2e.ts
Labels: Test

#5392 feat: update blue button stop signal endpoint
  src/api/stop-signal.ts
  src/screen-components/travel-aid/components/StopSignalButton.tsx
Labels: App, PI: Blue button - phase 3

#5328 test: e2e for auth and ticket purchase and mobile token
  .github/workflows/test-e2e-android.yml
  e2e/conf/android.conf.local.dev.ts
  e2e/conf/android.conf.local.firebase.ts
  e2e/conf/android.conf.ts
  e2e/package.json
  e2e/test/conf/config.ts
  e2e/test/flashlight/performanceMeasures.e2e.ts
  e2e/test/pageobjects/authentication.page.ts
  e2e/test/pageobjects/debug.page.ts
  e2e/test/pageobjects/frontpage.page.ts
  e2e/test/pageobjects/myProfile.page.ts
  e2e/test/pageobjects/onboarding.page.ts
  e2e/test/pageobjects/profile.page.ts
  e2e/test/pageobjects/purchase.overview.page.ts
  e2e/test/pageobjects/purchase.payment.page.ts
  e2e/test/pageobjects/purchase.summary.page.ts
  e2e/test/pageobjects/ticket.active.page.ts
  e2e/test/pageobjects/ticket.buy.page.ts
  e2e/test/pageobjects/ticket.details.page.ts
  e2e/test/pageobjects/token.page.ts
  e2e/test/specs/auth.1.e2e.ts
  e2e/test/specs/auth.2.e2e.ts
  e2e/test/specs/frontpage.e2e.ts
  e2e/test/specs/profile.e2e.ts
  e2e/test/specs/ticket.anonymous.e2e.ts
  e2e/test/specs/ticket.auth.e2e.ts
  e2e/test/specs/travelsearch.e2e.ts
  e2e/test/specs/travelsearch.filter.e2e.ts
  e2e/test/utils/element.helper.ts
  e2e/test/utils/navigation.helper.ts
  e2e/test/utils/utils.ts
  e2e/test/visualTests/specs/visual.departures.e2e.ts
  e2e/test/visualTests/specs/visual.other.e2e.ts
  e2e/test/visualTests/specs/visual.ticket.e2e.ts
  e2e/yarn.lock
  src/components/message-info-box/MessageInfoBox.tsx
  src/components/message-info-text/MessageInfoText.tsx
  src/components/radio/RadioBox.tsx
  src/components/sections/RadioGroupSection.tsx
  src/components/sections/items/RadioSectionItem.tsx
  src/modules/fare-contracts/components/FareContractDescription.tsx
  src/modules/fare-contracts/components/ProductName.tsx
  src/modules/fare-contracts/components/WithValidityLine.tsx
  src/modules/payment/PaymentSelectionSectionItem.tsx
  src/screen-components/select-travel-token-screen/SelectTravelTokenScreenComponent.tsx
  src/screen-components/select-travel-token-screen/TokenToggleInfo.tsx
  src/stacks-hierarchy/Root_PurchaseConfirmationScreen/Root_PurchaseConfirmationScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_DebugInfoScreen.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/components/UserInfo.tsx
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_TicketingStack/Ticketing_TicketTabNavStack/TicketTabNav_AvailableFareContractsTabScreen.tsx
  src/travel-token-box/TravelTokenBox.tsx
Labels: Test

#5395 feat: add service disruption link to profile information screen
  src/stacks-hierarchy/Root_TabNavigatorStack/TabNav_ProfileStack/Profile_InformationScreen.tsx
  src/translations/screens/Profile.ts
Labels: :people_holding_hands: Team initiative, App

#5382 chore: upgrade react-native-firebase
  Gemfile
  Gemfile.lock
  ios/Podfile.lock
  package.json
  src/index.tsx
  yarn.lock
Labels: :wrench: Maintenance, App
